ciberprueba.json
{
    "updatedAt": "2026-04-16T08:25:29.501Z",
    "createdAt": "2026-04-13T11:24:25.366Z",
    "id": "1001",
    "name": "ciberprueba",
    "description": "OSINT passive scan workflow with MXToolbox",
    "active": true,
    "isArchived": false,
    "nodes": [
        {
            "parameters": {},
            "id": "a1b2c3d4-0001-4000-a000-000000000001",
            "name": "Inicio Manual",
            "type": "n8n-nodes-base.manualTrigger",
            "typeVersion": 1,
            "position": [
                -560,
                304
            ]
        },
        {
            "parameters": {
                "jsCode": "let domain = 'tesla.com';\ntry {\n  const webhookData = $('Webhook Scan').first().json;\n  if (webhookData) {\n    const input = webhookData.target || webhookData.domain \n      || (webhookData.body && (webhookData.body.target || webhookData.body.domain));\n    if (input) {\n      domain = input.trim().toLowerCase();\n      domain = domain.replace(/[^a-z0-9.-]/g, '');\n    }\n  }\n} catch(e) {}\nreturn [{ json: { target_domain: domain } }];"
            },
            "id": "a1b2c3d4-0002-4000-a000-000000000002",
            "name": "Definir Objetivos",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                -368,
                400
            ]
        },
        {
            "parameters": {
                "jsCode": "\nconst domain = $('Definir Objetivos').first().json.target_domain;\nconst tipos = ['A', 'AAAA', 'MX', 'NS', 'TXT', 'SOA'];\nconst resultados = {};\n\nfunction dnsQuery(domain, tipo) {\n  return new Promise(function(resolve) {\n    const https = require('https');\n    const url = 'https://dns.google/resolve?name=' + encodeURIComponent(domain) + '&type=' + encodeURIComponent(tipo);\n    https.get(url, function(res) {\n      let body = '';\n      res.on('data', function(chunk) { body += chunk; });\n      res.on('end', function() {\n        try {\n          const data = JSON.parse(body);\n          resolve((data.Answer || []).map(function(r) { return r.data; }));\n        } catch(e) {\n          resolve([]);\n        }\n      });\n    }).on('error', function() {\n      resolve([]);\n    });\n  });\n}\n\nfor (const tipo of tipos) {\n  resultados[tipo] = await dnsQuery(domain, tipo);\n}\n\nconst ipPrincipal = resultados.A && resultados.A.length > 0 ? resultados.A[0] : 'No encontrada';\n\nreturn [{\n  json: {\n    target_domain: domain,\n    target_ip: ipPrincipal,\n    dns: resultados\n  }\n}];\n"
            },
            "id": "a1b2c3d4-0003-4000-a000-000000000003",
            "name": "DNS Completo",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                -192,
                288
            ]
        },
        {
            "parameters": {
                "jsCode": "\nconst ip = $('DNS Completo').first().json.target_ip;\n\nconst data = await new Promise(function(resolve) {\n  const https = require('https');\n  https.get('https://internetdb.shodan.io/' + encodeURIComponent(ip), { timeout: 10000 }, function(res) {\n    let body = '';\n    res.on('data', function(chunk) { body += chunk; });\n    res.on('end', function() {\n      try { resolve(JSON.parse(body)); }\n      catch(e) { resolve({}); }\n    });\n  }).on('error', function() { resolve({}); })\n    .on('timeout', function() { resolve({}); });\n});\n\nreturn [{ json: data }];\n"
            },
            "id": "a1b2c3d4-0004-4000-a000-000000000004",
            "name": "Shodan InternetDB",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                -16,
                288
            ]
        },
        {
            "parameters": {
                "jsCode": "\nconst domain = $('Definir Objetivos').first().json.target_domain;\n\nfunction httpsGet(url, maxRedirects) {\n  return new Promise(function(resolve) {\n    const https = require('https');\n    const http = require('http');\n    const isHttps = url.indexOf('https://') === 0;\n    const mod = isHttps ? https : http;\n\n    mod.get(url, { timeout: 15000 }, function(res) {\n      if ((res.statusCode === 301 || res.statusCode === 302) && res.headers.location && maxRedirects > 0) {\n        resolve(httpsGet(res.headers.location, maxRedirects - 1));\n        return;\n      }\n      let body = '';\n      res.on('data', function(chunk) { body += chunk; });\n      res.on('end', function() {\n        try { resolve(JSON.parse(body)); }\n        catch(e) { resolve({}); }\n      });\n    }).on('error', function() { resolve({}); })\n      .on('timeout', function() { resolve({}); });\n  });\n}\n\nconst data = await httpsGet('https://rdap.org/domain/' + encodeURIComponent(domain), 5);\n\nreturn [{ json: data }];\n"
            },
            "id": "a1b2c3d4-0006-4000-a000-000000000006",
            "name": "RDAP WHOIS",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                160,
                288
            ]
        },
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "osint-scan",
                "responseMode": "lastNode",
                "options": {}
            },
            "id": "a1b2c3d4-0010-4000-a000-000000000010",
            "name": "Webhook Scan",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 2,
            "position": [
                -560,
                496
            ],
            "webhookId": "6d4e40c8-2196-49b4-acdc-2bc403a17ee6"
        },
        {
            "parameters": {
                "jsCode": "var domain = $('Definir Objetivos').first().json.target_domain;\nvar https = require('https');\nvar http = require('http');\n\nfunction httpsGet(url, attempt, maxAttempts) {\n  attempt = attempt || 1;\n  maxAttempts = maxAttempts || 2;\n  return new Promise(function(resolve) {\n    var mod = url.indexOf('https://') === 0 ? https : http;\n    var req = mod.get(url, { timeout: 20000, headers: { 'User-Agent': 'n8n-osint-scanner/2.0', 'Accept': 'application/json' } }, function(res) {\n      var body = '';\n      res.on('data', function(chunk) { body += chunk; });\n      res.on('end', function() { resolve({ status: res.statusCode, body: body }); });\n    });\n    req.on('error', function() {\n      if (attempt < maxAttempts) { setTimeout(function() { resolve(httpsGet(url, attempt + 1, maxAttempts)); }, 2000); }\n      else { resolve({ status: 0, body: '' }); }\n    });\n    req.on('timeout', function() {\n      req.destroy();\n      if (attempt < maxAttempts) { setTimeout(function() { resolve(httpsGet(url, attempt + 1, maxAttempts)); }, 2000); }\n      else { resolve({ status: 0, body: '' }); }\n    });\n    req.end();\n  });\n}\n\n// === Source 1: crt.sh ===\nfunction fetchCrtSh() {\n  return httpsGet('https://crt.sh/?q=' + encodeURIComponent(domain) + '&output=json', 1, 3).then(function(res) {\n    var subs = [];\n    try {\n      var data = JSON.parse(res.body);\n      var unique = {};\n      data.forEach(function(entry) {\n        var names = [];\n        if (entry.common_name) names.push(entry.common_name.toLowerCase().trim());\n        if (entry.name_value) {\n          entry.name_value.split(String.fromCharCode(10)).forEach(function(v) {\n            var cleaned = v.toLowerCase().trim();\n            if (cleaned) names.push(cleaned);\n          });\n        }\n        names.forEach(function(name) {\n          if (name.indexOf('*') === -1) unique[name] = true;\n        });\n      });\n      subs = Object.keys(unique);\n    } catch(e) {}\n    return { source: 'crt.sh', subdomains: subs };\n  });\n}\n\n// === Source 2: HackerTarget ===\nfunction fetchHackerTarget() {\n  return httpsGet('https://api.hackertarget.com/hostsearch/?q=' + encodeURIComponent(domain), 1, 2).then(function(res) {\n    var subs = [];\n    try {\n      if (res.status === 200 && res.body && res.body.indexOf('error') === -1 && res.body.indexOf('API count exceeded') === -1) {\n        var lines = res.body.trim().split(String.fromCharCode(10));\n        lines.forEach(function(line) {\n          var parts = line.split(',');\n          if (parts[0]) {\n            var sub = parts[0].toLowerCase().trim();\n            if (sub && sub.indexOf(domain) >= 0) subs.push(sub);\n          }\n        });\n      }\n    } catch(e) {}\n    return { source: 'hackertarget', subdomains: subs };\n  });\n}\n\n// === Source 3: AlienVault OTX ===\nfunction fetchAlienVault() {\n  return httpsGet('https://otx.alienvault.com/api/v1/indicators/domain/' + encodeURIComponent(domain) + '/passive_dns', 1, 2).then(function(res) {\n    var subs = [];\n    try {\n      if (res.status === 200) {\n        var data = JSON.parse(res.body);\n        var records = data.passive_dns || [];\n        records.forEach(function(rec) {\n          if (rec.hostname) {\n            var h = rec.hostname.toLowerCase().trim();\n            if (h.indexOf(domain) >= 0 && h.indexOf('*') === -1) subs.push(h);\n          }\n        });\n      }\n    } catch(e) {}\n    return { source: 'alienvault_otx', subdomains: subs };\n  });\n}\n\n// === Source 4: URLScan.io ===\nfunction fetchUrlscan() {\n  return httpsGet('https://urlscan.io/api/v1/search/?q=domain:' + encodeURIComponent(domain) + '&size=100', 1, 2).then(function(res) {\n    var subs = [];\n    try {\n      if (res.status === 200) {\n        var data = JSON.parse(res.body);\n        var results = data.results || [];\n        var unique = {};\n        results.forEach(function(r) {\n          if (r.page && r.page.domain) {\n            var d = r.page.domain.toLowerCase().trim();\n            if (d.indexOf(domain) >= 0 && !unique[d]) { unique[d] = true; subs.push(d); }\n          }\n        });\n      }\n    } catch(e) {}\n    return { source: 'urlscan', subdomains: subs };\n  });\n}\n\n// === Run all sources in parallel ===\nvar results = await Promise.all([\n  fetchCrtSh(),\n  fetchHackerTarget(),\n  fetchAlienVault(),\n  fetchUrlscan()\n]);\n\n// === Merge and deduplicate ===\nvar allSubs = {};\nvar sourceSummary = {};\n\nresults.forEach(function(r) {\n  sourceSummary[r.source] = r.subdomains.length;\n  r.subdomains.forEach(function(sub) {\n    if (!allSubs[sub]) {\n      allSubs[sub] = [];\n    }\n    if (allSubs[sub].indexOf(r.source) === -1) {\n      allSubs[sub].push(r.source);\n    }\n  });\n});\n\nvar subdomainList = Object.keys(allSubs).sort();\nvar subdomainsWithSources = subdomainList.map(function(sub) {\n  return { name: sub, sources: allSubs[sub] };\n});\n\nreturn [{ json: {\n  subdomains: subdomainList,\n  subdomainsWithSources: subdomainsWithSources,\n  count: subdomainList.length,\n  sourceSummary: sourceSummary,\n  sourcesUsed: ['crt.sh', 'hackertarget', 'alienvault_otx', 'urlscan']\n}}];"
            },
            "id": "a1b2c3d4-0011-4000-a000-000000000011",
            "name": "Subdominios Multi-Fuente",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                336,
                288
            ]
        },
        {
            "parameters": {
                "jsCode": "\nvar domain = $('Definir Objetivos').first().json.target_domain;\nvar https = require('https');\n\nfunction githubSearch(path) {\n  return new Promise(function(resolve) {\n    var options = {\n      hostname: 'api.github.com',\n      path: path,\n      method: 'GET',\n      timeout: 15000,\n      headers: {\n        'User-Agent': 'n8n-osint-scanner/1.0',\n        'Accept': 'application/vnd.github.v3+json'\n      }\n    };\n    var req = https.request(options, function(res) {\n      var body = '';\n      res.on('data', function(chunk) { body += chunk; });\n      res.on('end', function() {\n        try { resolve(JSON.parse(body)); }\n        catch(e) { resolve({ items: [] }); }\n      });\n    });\n    req.on('error', function() { resolve({ items: [] }); });\n    req.on('timeout', function() { req.destroy(); resolve({ items: [] }); });\n    req.end();\n  });\n}\n\nvar repoData = await githubSearch('/search/repositories?q=' + encodeURIComponent(domain) + '&per_page=10&sort=stars&order=desc');\nvar repos = (repoData.items || []).map(function(r) {\n  return {\n    name: r.full_name || '',\n    description: (r.description || '').substring(0, 120),\n    stars: r.stargazers_count || 0,\n    language: r.language || 'N/A',\n    url: r.html_url || '',\n    updated: r.updated_at || ''\n  };\n});\n\nvar domainBase = domain.split('.')[0];\nvar orgData = await githubSearch('/search/users?q=' + encodeURIComponent(domainBase) + '+type:org&per_page=10');\nvar orgs = (orgData.items || []).map(function(o) {\n  return {\n    login: o.login || '',\n    url: o.html_url || '',\n    avatar: o.avatar_url || '',\n    type: o.type || 'Organization'\n  };\n});\n\nreturn [{ json: { github_repos: repos, github_orgs: orgs, repos_count: repos.length, orgs_count: orgs.length } }];\n"
            },
            "id": "a1b2c3d4-0012-4000-a000-000000000012",
            "name": "GitHub OSINT",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                512,
                288
            ]
        },
        {
            "parameters": {
                "jsCode": "\nvar ip = $('DNS Completo').first().json.target_ip;\nvar http = require('http');\n\nvar geoData = await new Promise(function(resolve) {\n  var options = {\n    hostname: 'ip-api.com',\n    path: '/json/' + encodeURIComponent(ip),\n    method: 'GET',\n    timeout: 10000\n  };\n  var req = http.request(options, function(res) {\n    var body = '';\n    res.on('data', function(chunk) { body += chunk; });\n    res.on('end', function() {\n      try { resolve(JSON.parse(body)); }\n      catch(e) { resolve({}); }\n    });\n  });\n  req.on('error', function() { resolve({}); });\n  req.on('timeout', function() { req.destroy(); resolve({}); });\n  req.end();\n});\n\nreturn [{ json: {\n  geo_ip: ip,\n  geo_country: geoData.country || 'N/A',\n  geo_countryCode: geoData.countryCode || '',\n  geo_region: geoData.regionName || 'N/A',\n  geo_city: geoData.city || 'N/A',\n  geo_lat: geoData.lat || 0,\n  geo_lon: geoData.lon || 0,\n  geo_isp: geoData.isp || 'N/A',\n  geo_org: geoData.org || 'N/A',\n  geo_as: geoData.as || 'N/A',\n  geo_timezone: geoData.timezone || 'N/A'\n} }];\n"
            },
            "id": "a1b2c3d4-0013-4000-a000-000000000013",
            "name": "IP Geolocation",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                688,
                288
            ]
        },
        {
            "parameters": {
                "jsCode": "\nvar dnsData = $('DNS Completo').first().json;\nvar shodan = $('Shodan InternetDB').first().json;\nvar rdap = $('RDAP WHOIS').first().json;\nvar subData = $('Subdominios Multi-Fuente').first().json;\nvar ghData = $('GitHub OSINT').first().json;\nvar geoData = $('IP Geolocation').first().json;\nvar mxData = $('MXToolbox Check').first().json;\n\nvar domain = dnsData.target_domain;\nvar ip = dnsData.target_ip;\nvar dns = dnsData.dns;\n\n// --- PORT MAP ---\nvar portMap = {20:'FTP-Data',21:'FTP',22:'SSH',23:'Telnet',25:'SMTP',53:'DNS',80:'HTTP',110:'POP3',143:'IMAP',443:'HTTPS',445:'SMB',993:'IMAPS',995:'POP3S',2053:'Unknown',2082:'cPanel',2083:'cPanel-SSL',2086:'WHM',2087:'WHM-SSL',2095:'Webmail',3306:'MySQL',3389:'RDP',5432:'PostgreSQL',8080:'HTTP-Proxy',8443:'HTTPS-Alt',8880:'HTTP-Alt',8888:'HTTP-Alt'};\n\n// --- SHODAN ---\nvar shodanInfo = {\n  ip: shodan.ip || ip,\n  puertos: (shodan.ports || []).map(function(p) { return { port: p, service: portMap[p] || 'Unknown' }; }),\n  hostnames: shodan.hostnames || [],\n  vulns: shodan.vulns || [],\n  cpes: shodan.cpes || [],\n  tags: shodan.tags || []\n};\n\n// --- RELATED DOMAINS from Shodan hostnames ---\nvar relatedDomains = [];\n(shodan.hostnames || []).forEach(function(h) {\n  var cleaned = h.toLowerCase().trim();\n  if (cleaned && cleaned !== domain && relatedDomains.indexOf(cleaned) === -1) {\n    relatedDomains.push(cleaned);\n  }\n});\n\n// --- WHOIS ---\nvar whoisInfo = {\n  nombre_dominio: '', registrador: '', fecha_creacion: '', fecha_expiracion: '',\n  estado: [], nameservers: [], entidades: []\n};\nif (rdap && !rdap.error && rdap.ldhName) {\n  whoisInfo.nombre_dominio = rdap.ldhName || domain;\n  whoisInfo.estado = rdap.status || [];\n  if (rdap.events) {\n    rdap.events.forEach(function(e) {\n      if (e.eventAction === 'registration') whoisInfo.fecha_creacion = e.eventDate || '';\n      if (e.eventAction === 'expiration') whoisInfo.fecha_expiracion = e.eventDate || '';\n    });\n  }\n  if (rdap.nameservers) {\n    whoisInfo.nameservers = rdap.nameservers.map(function(ns) { return ns.ldhName || ''; });\n  }\n  if (rdap.entities) {\n    rdap.entities.forEach(function(ent) {\n      var roles = (ent.roles || []).join(', ');\n      var nombre = '';\n      if (ent.vcardArray && ent.vcardArray[1]) {\n        ent.vcardArray[1].forEach(function(v) {\n          if (v[0] === 'fn') nombre = v[3] || '';\n        });\n      }\n      if (ent.handle) whoisInfo.registrador = whoisInfo.registrador || ent.handle;\n      if (nombre || roles) whoisInfo.entidades.push({ nombre: nombre, roles: roles, handle: ent.handle || '' });\n    });\n  }\n}\n\n// --- EMAIL SECURITY: SPF, DKIM, DMARC ---\nvar txtRecords = dns.TXT || [];\nvar spf = { found: false, record: '', details: '' };\nvar dkim = { found: false, details: '' };\nvar dmarc = { found: false, record: '', policy: '', details: '' };\n\ntxtRecords.forEach(function(rec) {\n  var recLower = rec.toLowerCase();\n  if (recLower.indexOf('v=spf1') >= 0) {\n    spf.found = true;\n    spf.record = rec;\n    if (recLower.indexOf('-all') >= 0) spf.details = 'Strict (-all): solo IPs autorizadas pueden enviar email';\n    else if (recLower.indexOf('~all') >= 0) spf.details = 'Soft fail (~all): IPs no autorizadas marcadas pero no rechazadas';\n    else if (recLower.indexOf('+all') >= 0) spf.details = 'Permisivo (+all): PELIGROSO - cualquiera puede enviar email';\n    else if (recLower.indexOf('?all') >= 0) spf.details = 'Neutral (?all): sin politica definida';\n    else spf.details = 'SPF configurado';\n  }\n  if (recLower.indexOf('v=dkim') >= 0 || recLower.indexOf('dkim') >= 0) {\n    dkim.found = true;\n    dkim.details = rec;\n  }\n  if (recLower.indexOf('v=dmarc') >= 0) {\n    dmarc.found = true;\n    dmarc.record = rec;\n    if (recLower.indexOf('p=reject') >= 0) { dmarc.policy = 'reject'; dmarc.details = 'Politica estricta: emails no autenticados son rechazados'; }\n    else if (recLower.indexOf('p=quarantine') >= 0) { dmarc.policy = 'quarantine'; dmarc.details = 'Cuarentena: emails no autenticados van a spam'; }\n    else if (recLower.indexOf('p=none') >= 0) { dmarc.policy = 'none'; dmarc.details = 'Solo monitoreo: no se toman acciones (inseguro)'; }\n    else { dmarc.policy = 'unknown'; dmarc.details = 'Politica no reconocida'; }\n  }\n});\n\nvar emailSecurity = { spf: spf, dkim: dkim, dmarc: dmarc };\n\n// --- EMAIL PATTERNS ---\nvar emailPatterns = [\n  'info@' + domain, 'admin@' + domain, 'support@' + domain,\n  'contact@' + domain, 'sales@' + domain, 'hr@' + domain,\n  'security@' + domain, 'abuse@' + domain, 'webmaster@' + domain,\n  'postmaster@' + domain, 'noreply@' + domain, 'help@' + domain,\n  'billing@' + domain, 'legal@' + domain, 'marketing@' + domain,\n  'press@' + domain, 'jobs@' + domain, 'careers@' + domain\n];\n\n// --- SUBDOMAINS ---\nvar subdomains = subData.subdomains || [];\nvar subdomainCount = subData.count || 0;\nvar subdomainsWithSources = subData.subdomainsWithSources || [];\nvar sourceSummary = subData.sourceSummary || {};\nvar sourcesUsed = subData.sourcesUsed || [];\n\n// --- GITHUB ---\nvar githubRepos = ghData.github_repos || [];\nvar githubOrgs = ghData.github_orgs || [];\n\n// --- GEOLOCATION ---\nvar geo = {\n  ip: geoData.geo_ip || ip,\n  country: geoData.geo_country || 'N/A',\n  countryCode: geoData.geo_countryCode || '',\n  region: geoData.geo_region || 'N/A',\n  city: geoData.geo_city || 'N/A',\n  lat: geoData.geo_lat || 0,\n  lon: geoData.geo_lon || 0,\n  isp: geoData.geo_isp || 'N/A',\n  org: geoData.geo_org || 'N/A',\n  asn: geoData.geo_as || 'N/A',\n  timezone: geoData.geo_timezone || 'N/A'\n};\n\n// --- RISK SCORE (out of 100) ---\nvar riskScore = 0;\nvar riskFactors = [];\n\n// Open ports risk\nvar riskyPorts = [21,22,23,25,445,3306,3389,5432];\nvar openPorts = shodan.ports || [];\nif (openPorts.length > 10) { riskScore += 15; riskFactors.push('Mas de 10 puertos abiertos'); }\nelse if (openPorts.length > 5) { riskScore += 10; riskFactors.push(openPorts.length + ' puertos abiertos'); }\nelse if (openPorts.length > 0) { riskScore += 5; }\nopenPorts.forEach(function(p) {\n  if (riskyPorts.indexOf(p) >= 0) { riskScore += 5; riskFactors.push('Puerto de alto riesgo abierto: ' + p + ' (' + (portMap[p]||'Unknown') + ')'); }\n});\n\n// Vulns risk\nif (shodanInfo.vulns.length > 5) { riskScore += 30; riskFactors.push(shodanInfo.vulns.length + ' vulnerabilidades conocidas (critico)'); }\nelse if (shodanInfo.vulns.length > 0) { riskScore += 15 + shodanInfo.vulns.length * 3; riskFactors.push(shodanInfo.vulns.length + ' vulnerabilidades conocidas'); }\n\n// Email security risk\nif (!dmarc.found) { riskScore += 10; riskFactors.push('DMARC no configurado - vulnerable a spoofing'); }\nelse if (dmarc.policy === 'none') { riskScore += 5; riskFactors.push('DMARC en modo solo monitoreo'); }\nif (!spf.found) { riskScore += 8; riskFactors.push('SPF no configurado'); }\nelse if (spf.record.toLowerCase().indexOf('+all') >= 0) { riskScore += 10; riskFactors.push('SPF permisivo (+all)'); }\n\n// Cap at 100\nif (riskScore > 100) riskScore = 100;\n\nvar riskLevel = 'BAJO';\nif (riskScore >= 75) riskLevel = 'CRITICO';\nelse if (riskScore >= 50) riskLevel = 'ALTO';\nelse if (riskScore >= 25) riskLevel = 'MEDIO';\n\n// --- EXECUTIVE SUMMARY ---\nvar keyFindings = [];\nif (shodanInfo.vulns.length > 0) keyFindings.push('Se detectaron ' + shodanInfo.vulns.length + ' vulnerabilidades conocidas en la infraestructura.');\nif (openPorts.length > 0) keyFindings.push('Se encontraron ' + openPorts.length + ' puertos abiertos expuestos a Internet.');\nif (!dmarc.found || !spf.found) keyFindings.push('La configuracion de seguridad de email es deficiente.');\nif (subdomainCount > 20) keyFindings.push('Se identificaron ' + subdomainCount + ' subdominios, lo que representa una superficie de ataque amplia.');\nif (githubRepos.length > 0) keyFindings.push('Se encontraron ' + githubRepos.length + ' repositorios publicos relacionados en GitHub.');\nif (keyFindings.length === 0) keyFindings.push('No se detectaron hallazgos criticos de seguridad en el analisis pasivo.');\n\nvar recommendations = [];\nif (!dmarc.found) recommendations.push('Implementar politica DMARC con p=reject.');\nif (!spf.found) recommendations.push('Configurar registro SPF restrictivo.');\nif (shodanInfo.vulns.length > 0) recommendations.push('Parchear las vulnerabilidades detectadas de manera urgente.');\nvar riskyOpen = openPorts.filter(function(p) { return riskyPorts.indexOf(p) >= 0; });\nif (riskyOpen.length > 0) recommendations.push('Revisar y restringir acceso a puertos de alto riesgo: ' + riskyOpen.join(', ') + '.');\nif (subdomainCount > 20) recommendations.push('Auditar subdominios para identificar servicios obsoletos o expuestos.');\nif (recommendations.length === 0) recommendations.push('Mantener la postura de seguridad actual y realizar escaneos periodicos.');\n\n// --- DORKS ---\nvar dorks = [\n  { icono: '&#128196;', nombre: 'Documentos expuestos', query: 'site:' + domain + ' filetype:pdf OR filetype:doc OR filetype:xls OR filetype:txt OR filetype:csv' },\n  { icono: '&#128274;', nombre: 'Paneles de acceso', query: 'site:' + domain + ' inurl:login OR inurl:admin OR inurl:signin OR inurl:portal' },\n  { icono: '&#128194;', nombre: 'Directorios abiertos', query: 'site:' + domain + ' intitle:\"index of\"' },\n  { icono: '&#128269;', nombre: 'Informacion sensible', query: 'site:' + domain + ' intext:password OR intext:confidential OR intext:internal' },\n  { icono: '&#127760;', nombre: 'Subdominios indexados', query: 'site:*.' + domain },\n  { icono: '&#128736;', nombre: 'Tecnologias web', query: 'site:' + domain + ' inurl:wp-content OR inurl:wp-admin OR inurl:joomla OR inurl:drupal OR inurl:api' },\n  { icono: '&#9888;', nombre: 'Errores y mensajes debug', query: 'site:' + domain + ' intext:\"error\" OR intext:\"exception\" OR intext:\"stack trace\"' },\n  { icono: '&#128101;', nombre: 'Presencia digital', query: '\"' + domain + '\" site:linkedin.com OR site:github.com OR site:twitter.com' },\n  { icono: '&#128273;', nombre: 'Archivos de configuracion', query: 'site:' + domain + ' filetype:env OR filetype:yml OR filetype:xml OR filetype:json OR filetype:ini' },\n  { icono: '&#128187;', nombre: 'Codigo fuente expuesto', query: 'site:' + domain + ' filetype:php OR filetype:asp OR filetype:jsp OR filetype:sql' }\n];\n\n// Derive company name from domain\nvar companyName = domain.split('.')[0];\ncompanyName = companyName.charAt(0).toUpperCase() + companyName.slice(1);\n\nreturn [{\n  json: {\n    resumen: {\n      dominio: domain,\n      ip: ip,\n      companyName: companyName,\n      nivel_riesgo: riskLevel,\n      riesgo_puntuacion: riskScore,\n      riskFactors: riskFactors,\n      dns: dns,\n      shodan: shodanInfo,\n      whois: whoisInfo,\n      emailSecurity: emailSecurity,\n      emailPatterns: emailPatterns,\n      subdomains: subdomains,\n      subdomainCount: subdomainCount,\n      subdomainsWithSources: subdomainsWithSources,\n      sourceSummary: sourceSummary,\n      sourcesUsed: sourcesUsed,\n      githubRepos: githubRepos,\n      githubOrgs: githubOrgs,\n      geo: geo,\n      relatedDomains: relatedDomains,\n      dorks: dorks,\n      blacklist: mxData.blacklist,\n      mxRecords: mxData.mx,\n      mxLinks: mxData.mxLinks,\n      keyFindings: keyFindings,\n      recommendations: recommendations,\n      timestamp: new Date().toISOString()\n    }\n  }\n}];\n"
            },
            "id": "a1b2c3d4-0014-4000-a000-000000000014",
            "name": "Generar Informe OSINT",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                1088,
                304
            ]
        },
        {
            "parameters": {
                "jsCode": "\nvar r = $('Generar Informe OSINT').first().json.resumen;\nvar fecha = new Date().toISOString().replace(/[:.]/g, '-').slice(0, 19);\nfunction esc(s) { return String(s || '').replace(/&/g,'&amp;').replace(/</g,'&lt;').replace(/>/g,'&gt;').replace(/\"/g,'&quot;'); }\nfunction fechaLegible(iso) {\n  if (!iso) return 'N/A';\n  try { return new Date(iso).toLocaleDateString('es-ES', { year:'numeric', month:'long', day:'numeric' }); }\n  catch(e) { return iso; }\n}\nfunction fechaCorta(iso) {\n  if (!iso) return 'N/A';\n  try { return new Date(iso).toLocaleDateString('es-ES', { year:'numeric', month:'2-digit', day:'2-digit' }); }\n  catch(e) { return iso; }\n}\n\n// Risk gauge CSS percentage (score out of 100)\nvar riskPct = Math.min(r.riesgo_puntuacion, 100);\nvar riskColor = '#22c55e';\nif (riskPct >= 75) riskColor = '#ef4444';\nelse if (riskPct >= 50) riskColor = '#f97316';\nelse if (riskPct >= 25) riskColor = '#eab308';\n\nvar h = '<!DOCTYPE html><html lang=\"es\"><head><meta charset=\"UTF-8\">';\nh += '<meta name=\"viewport\" content=\"width=device-width,initial-scale=1.0\">';\nh += '<title>OSINT Report - ' + esc(r.dominio) + '</title>';\nh += '<style>';\n\n// CSS Variables - Light professional theme\nh += ':root{';\nh += '--bg:#f5f6fa;--bg2:#eef0f5;--card:#ffffff;--card2:#f8f9fc;';\nh += '--border:#e2e5ed;--border2:#d1d5de;';\nh += '--text:#1a1d26;--text2:#5a6178;--text3:#8890a4;';\nh += '--accent:#2563eb;--accent-light:#dbeafe;--accent-dark:#1d4ed8;';\nh += '--green:#16a34a;--green-bg:#dcfce7;--green-border:#86efac;';\nh += '--yellow:#ca8a04;--yellow-bg:#fef9c3;--yellow-border:#fde047;';\nh += '--orange:#ea580c;--orange-bg:#ffedd5;--orange-border:#fdba74;';\nh += '--red:#dc2626;--red-bg:#fee2e2;--red-border:#fca5a5;';\nh += '--purple:#7c3aed;--purple-bg:#ede9fe;--purple-border:#c4b5fd;';\nh += '--radius:10px;--shadow:0 1px 3px rgba(0,0,0,0.06),0 1px 2px rgba(0,0,0,0.04);';\nh += '--shadow-lg:0 4px 12px rgba(0,0,0,0.08);';\nh += '}';\n\nh += '*{box-sizing:border-box;margin:0;padding:0}';\nh += 'body{font-family:-apple-system,BlinkMacSystemFont,\"Segoe UI\",Roboto,\"Helvetica Neue\",Arial,sans-serif;background:var(--bg);color:var(--text);line-height:1.6;-webkit-font-smoothing:antialiased}';\nh += '.wrap{max-width:1100px;margin:0 auto;padding:32px 24px}';\n\n// Header\nh += '.report-header{background:var(--card);border:1px solid var(--border);border-radius:var(--radius);padding:32px 36px;margin-bottom:24px;box-shadow:var(--shadow);display:flex;align-items:center;justify-content:space-between;flex-wrap:wrap;gap:16px}';\nh += '.header-left{flex:1;min-width:280px}';\nh += '.header-brand{font-size:11px;font-weight:700;text-transform:uppercase;letter-spacing:2.5px;color:var(--accent);margin-bottom:6px}';\nh += '.header-title{font-size:26px;font-weight:700;color:var(--text);margin-bottom:2px}';\nh += '.header-subtitle{font-size:14px;color:var(--text2)}';\nh += '.header-meta{display:flex;flex-direction:column;align-items:flex-end;gap:4px}';\nh += '.header-date{font-size:13px;color:var(--text2)}';\nh += '.header-id{font-size:11px;color:var(--text3);font-family:monospace}';\n\n// Action bar\nh += '.action-bar{display:flex;gap:10px;margin-bottom:24px;flex-wrap:wrap}';\nh += '.btn{display:inline-flex;align-items:center;gap:8px;padding:10px 20px;border-radius:8px;font-size:13px;font-weight:600;text-decoration:none;cursor:pointer;border:1px solid var(--border);transition:all 0.15s;background:var(--card);color:var(--text2)}';\nh += '.btn:hover{border-color:var(--accent);color:var(--accent);box-shadow:var(--shadow)}';\nh += '.btn-primary{background:var(--accent);color:#fff;border-color:var(--accent)}';\nh += '.btn-primary:hover{background:var(--accent-dark);border-color:var(--accent-dark);color:#fff}';\n\n// Risk Score Card\nh += '.risk-card{background:var(--card);border:1px solid var(--border);border-radius:var(--radius);padding:32px;margin-bottom:24px;box-shadow:var(--shadow);display:flex;align-items:center;gap:40px;flex-wrap:wrap}';\nh += '.risk-gauge-container{position:relative;width:140px;height:140px;flex-shrink:0}';\nh += '.risk-gauge{width:140px;height:140px;border-radius:50%;position:relative;display:flex;align-items:center;justify-content:center}';\nh += '.risk-gauge-bg{position:absolute;inset:0;border-radius:50%;background:conic-gradient(var(--border) 0deg, var(--border) 360deg)}';\nh += '.risk-gauge-fill{position:absolute;inset:0;border-radius:50%;background:conic-gradient(' + riskColor + ' 0deg, ' + riskColor + ' ' + (riskPct * 3.6) + 'deg, transparent ' + (riskPct * 3.6) + 'deg, transparent 360deg);transition:all 0.5s}';\nh += '.risk-gauge-inner{position:relative;z-index:1;width:108px;height:108px;border-radius:50%;background:var(--card);display:flex;flex-direction:column;align-items:center;justify-content:center;box-shadow:inset 0 1px 3px rgba(0,0,0,0.06)}';\nh += '.risk-score-num{font-size:36px;font-weight:800;color:' + riskColor + ';line-height:1}';\nh += '.risk-score-label{font-size:11px;color:var(--text3);text-transform:uppercase;letter-spacing:1px;margin-top:2px}';\nh += '.risk-info{flex:1;min-width:260px}';\nh += '.risk-level{font-size:13px;font-weight:700;text-transform:uppercase;letter-spacing:1px;margin-bottom:4px;display:inline-flex;align-items:center;gap:6px;padding:4px 12px;border-radius:6px}';\nh += '.risk-BAJO{background:var(--green-bg);color:var(--green);border:1px solid var(--green-border)}';\nh += '.risk-MEDIO{background:var(--yellow-bg);color:var(--yellow);border:1px solid var(--yellow-border)}';\nh += '.risk-ALTO{background:var(--orange-bg);color:var(--orange);border:1px solid var(--orange-border)}';\nh += '.risk-CRITICO{background:var(--red-bg);color:var(--red);border:1px solid var(--red-border)}';\nh += '.risk-factors{margin-top:12px}';\nh += '.risk-factor{font-size:13px;color:var(--text2);padding:4px 0;display:flex;align-items:flex-start;gap:6px}';\nh += '.risk-factor::before{content:\"\\26A0\";font-size:12px;flex-shrink:0;margin-top:2px}';\n\n// KPI Grid\nh += '.kpi-grid{display:grid;grid-template-columns:repeat(auto-fit,minmax(170px,1fr));gap:14px;margin-bottom:24px}';\nh += '.kpi{background:var(--card);border:1px solid var(--border);border-radius:var(--radius);padding:20px;box-shadow:var(--shadow);text-align:center}';\nh += '.kpi-value{font-size:28px;font-weight:800;color:var(--accent);line-height:1.2}';\nh += '.kpi-label{font-size:12px;color:var(--text3);text-transform:uppercase;letter-spacing:0.8px;margin-top:4px}';\n\n// Section\nh += '.section{background:var(--card);border:1px solid var(--border);border-radius:var(--radius);margin-bottom:20px;overflow:hidden;box-shadow:var(--shadow)}';\nh += '.section-header{display:flex;align-items:center;gap:12px;padding:18px 24px;border-bottom:1px solid var(--border);background:var(--card2)}';\nh += '.section-icon{width:34px;height:34px;border-radius:8px;display:flex;align-items:center;justify-content:center;font-size:17px;flex-shrink:0}';\nh += '.si-blue{background:var(--accent-light);color:var(--accent)}';\nh += '.si-green{background:var(--green-bg);color:var(--green)}';\nh += '.si-red{background:var(--red-bg);color:var(--red)}';\nh += '.si-purple{background:var(--purple-bg);color:var(--purple)}';\nh += '.si-yellow{background:var(--yellow-bg);color:var(--yellow)}';\nh += '.si-orange{background:var(--orange-bg);color:var(--orange)}';\nh += '.section-header h2{font-size:15px;font-weight:700;color:var(--text)}';\nh += '.section-header .badge{font-size:11px;padding:2px 8px;border-radius:10px;background:var(--accent-light);color:var(--accent);font-weight:600;margin-left:auto}';\nh += '.section-body{padding:24px}';\n\n// Info table\nh += '.info-table{width:100%;border-collapse:collapse}';\nh += '.info-table tr{border-bottom:1px solid var(--border)}';\nh += '.info-table tr:last-child{border-bottom:none}';\nh += '.info-table td{padding:11px 0;font-size:14px;vertical-align:top}';\nh += '.info-table td:first-child{width:180px;color:var(--text2);font-size:13px;font-weight:500}';\nh += '.info-table td:last-child{font-family:\"SF Mono\",SFMono-Regular,Menlo,Consolas,monospace;font-size:13px;word-break:break-all}';\n\n// Data table\nh += '.data-table{width:100%;border-collapse:collapse;font-size:13px}';\nh += '.data-table thead{background:var(--card2)}';\nh += '.data-table th{padding:10px 14px;text-align:left;font-weight:600;color:var(--text2);font-size:12px;text-transform:uppercase;letter-spacing:0.5px;border-bottom:2px solid var(--border)}';\nh += '.data-table td{padding:10px 14px;border-bottom:1px solid var(--border);vertical-align:top}';\nh += '.data-table tr:last-child td{border-bottom:none}';\nh += '.data-table tr:hover{background:var(--card2)}';\nh += '.data-table a{color:var(--accent);text-decoration:none}';\nh += '.data-table a:hover{text-decoration:underline}';\n\n// Tags\nh += '.tags{display:flex;flex-wrap:wrap;gap:6px}';\nh += '.tag{display:inline-flex;align-items:center;padding:4px 10px;border-radius:6px;font-family:monospace;font-size:12px;font-weight:500;border:1px solid}';\nh += '.tag-blue{background:var(--accent-light);border-color:rgba(37,99,235,0.2);color:var(--accent)}';\nh += '.tag-red{background:var(--red-bg);border-color:var(--red-border);color:var(--red)}';\nh += '.tag-green{background:var(--green-bg);border-color:var(--green-border);color:var(--green)}';\nh += '.tag-purple{background:var(--purple-bg);border-color:var(--purple-border);color:var(--purple)}';\nh += '.tag-yellow{background:var(--yellow-bg);border-color:var(--yellow-border);color:var(--yellow)}';\nh += '.tag-orange{background:var(--orange-bg);border-color:var(--orange-border);color:var(--orange)}';\nh += '.tag-gray{background:var(--bg2);border-color:var(--border);color:var(--text2)}';\n\n// DNS Grid\nh += '.dns-grid{display:grid;grid-template-columns:1fr 1fr;gap:12px}';\nh += '.dns-item{background:var(--card2);border:1px solid var(--border);border-radius:8px;padding:14px}';\nh += '.dns-type{font-size:11px;font-weight:700;text-transform:uppercase;letter-spacing:1px;color:var(--accent);margin-bottom:6px}';\nh += '.dns-records{font-family:monospace;font-size:12px;color:var(--text);word-break:break-all}';\nh += '.dns-records div{padding:2px 0}';\nh += '.empty{color:var(--text3);font-style:italic;font-size:13px}';\n\n// Security check\nh += '.sec-check{display:flex;align-items:flex-start;gap:12px;padding:14px;border:1px solid var(--border);border-radius:8px;margin-bottom:10px;background:var(--card2)}';\nh += '.sec-check:last-child{margin-bottom:0}';\nh += '.sec-status{width:28px;height:28px;border-radius:50%;display:flex;align-items:center;justify-content:center;font-size:14px;font-weight:700;flex-shrink:0}';\nh += '.sec-pass{background:var(--green-bg);color:var(--green);border:1px solid var(--green-border)}';\nh += '.sec-warn{background:var(--yellow-bg);color:var(--yellow);border:1px solid var(--yellow-border)}';\nh += '.sec-fail{background:var(--red-bg);color:var(--red);border:1px solid var(--red-border)}';\nh += '.sec-info{flex:1}';\nh += '.sec-title{font-size:14px;font-weight:600;color:var(--text);margin-bottom:2px}';\nh += '.sec-detail{font-size:12px;color:var(--text2);margin-bottom:4px}';\nh += '.sec-record{font-size:11px;font-family:monospace;color:var(--text3);word-break:break-all;background:var(--bg);padding:6px 10px;border-radius:4px;margin-top:6px}';\n\n// Subdomain list\nh += '.sub-grid{display:grid;grid-template-columns:repeat(auto-fill,minmax(280px,1fr));gap:6px}';\nh += '.sub-item{font-family:monospace;font-size:12px;padding:6px 12px;background:var(--card2);border:1px solid var(--border);border-radius:6px;color:var(--text);display:flex;align-items:center;justify-content:space-between;gap:8px}';\nh += '.sub-name{overflow:hidden;text-overflow:ellipsis;white-space:nowrap}';\nh += '.sub-sources{display:flex;gap:3px;flex-shrink:0}';\nh += '.src-badge{font-size:9px;font-weight:600;padding:2px 5px;border-radius:3px;font-family:system-ui,sans-serif;letter-spacing:0.3px}';\nh += '.src-crt{background:#dbeafe;color:#2563eb}';\nh += '.src-ht{background:#dcfce7;color:#16a34a}';\nh += '.src-otx{background:#ede9fe;color:#7c3aed}';\nh += '.src-url{background:#ffedd5;color:#ea580c}';\nh += '.source-summary{display:flex;flex-wrap:wrap;gap:8px;margin-bottom:14px}';\nh += '.source-card{display:flex;align-items:center;gap:8px;padding:8px 14px;background:var(--card2);border:1px solid var(--border);border-radius:8px;font-size:12px}';\nh += '.source-count{font-weight:700;font-size:14px;color:var(--text)}';\nh += '.source-label{color:var(--text2)}';\n\n// Email patterns grid\nh += '.email-grid{display:grid;grid-template-columns:repeat(auto-fill,minmax(220px,1fr));gap:6px}';\nh += '.email-item{font-family:monospace;font-size:12px;padding:8px 12px;background:var(--card2);border:1px solid var(--border);border-radius:6px;color:var(--accent)}';\n\n// Dorks\nh += '.dork-list{display:grid;gap:8px}';\nh += '.dork{display:flex;align-items:center;gap:12px;padding:12px 16px;background:var(--card2);border:1px solid var(--border);border-radius:8px;text-decoration:none;color:var(--text);transition:all 0.15s}';\nh += '.dork:hover{border-color:var(--accent);background:var(--accent-light);transform:translateX(4px)}';\nh += '.dork-icon{font-size:20px;flex-shrink:0}';\nh += '.dork-info{flex:1;min-width:0}';\nh += '.dork-name{font-size:13px;font-weight:600;color:var(--text)}';\nh += '.dork-query{font-size:11px;font-family:monospace;color:var(--text3);white-space:nowrap;overflow:hidden;text-overflow:ellipsis}';\nh += '.dork-arrow{color:var(--text3);font-size:16px}';\n\n// Footer\nh += '.footer{text-align:center;padding:32px 20px;color:var(--text3);font-size:12px;margin-top:32px}';\nh += '.footer-brand{font-size:11px;font-weight:700;text-transform:uppercase;letter-spacing:2px;color:var(--accent);margin-bottom:4px}';\nh += '.footer-sources{font-size:11px;color:var(--text3);margin-bottom:12px}';\nh += '.legal-box{background:var(--yellow-bg);border:1px solid var(--yellow-border);border-radius:8px;padding:16px 20px;margin-bottom:24px;font-size:12px;color:var(--yellow);line-height:1.5}';\nh += '.legal-box strong{color:var(--orange)}';\n\n// Executive summary\nh += '.exec-grid{display:grid;grid-template-columns:1fr 1fr;gap:20px}';\nh += '.exec-box{padding:16px;border-radius:8px;border:1px solid var(--border)}';\nh += '.exec-box h3{font-size:13px;font-weight:700;text-transform:uppercase;letter-spacing:0.8px;margin-bottom:10px;display:flex;align-items:center;gap:6px}';\nh += '.exec-findings{border-left:3px solid var(--accent)}';\nh += '.exec-recs{border-left:3px solid var(--green)}';\nh += '.exec-item{font-size:13px;color:var(--text2);padding:4px 0;display:flex;align-items:flex-start;gap:6px}';\nh += '.exec-bullet{flex-shrink:0;margin-top:5px;width:5px;height:5px;border-radius:50%}';\n\nh += '.icon-mx{background:rgba(0,180,216,0.12);color:var(--accent)}';\nh += '.mx-links{display:grid;grid-template-columns:repeat(auto-fill,minmax(220px,1fr));gap:10px}';\nh += '.mx-link{display:block;padding:14px;background:var(--card2);border:1px solid var(--border);border-radius:8px;text-decoration:none;color:var(--text);transition:all 0.2s}';\nh += '.mx-link:hover{border-color:var(--accent);background:rgba(0,180,216,0.04);transform:translateY(-2px)}';\nh += '.mx-link .mx-link-name{font-size:13px;font-weight:600;color:var(--accent);margin-bottom:4px}';\nh += '.mx-link .mx-link-desc{font-size:11px;color:var(--text2)}';\n\n// Responsive\nh += '@media(max-width:768px){.wrap{padding:16px 12px}.dns-grid,.exec-grid{grid-template-columns:1fr}.report-header{flex-direction:column;align-items:flex-start}.header-meta{align-items:flex-start}.risk-card{flex-direction:column;align-items:center;text-align:center}.kpi-grid{grid-template-columns:repeat(2,1fr)}}';\nh += '@media print{.action-bar,.btn{display:none!important}body{background:#fff}.wrap{padding:0}.section{break-inside:avoid;box-shadow:none}}';\n\nh += '</style></head><body><div class=\"wrap\">';\n\n// ============== HEADER ==============\nh += '<div class=\"report-header\">';\nh += '<div class=\"header-left\">';\nh += '<div class=\"header-brand\">CorpInt Security Intelligence</div>';\nh += '<div class=\"header-title\">' + esc(r.companyName) + ' - OSINT Report</div>';\nh += '<div class=\"header-subtitle\">Passive reconnaissance report for <strong>' + esc(r.dominio) + '</strong></div>';\nh += '</div>';\nh += '<div class=\"header-meta\">';\nh += '<div class=\"header-date\">' + fechaLegible(r.timestamp) + '</div>';\nh += '<div class=\"header-id\">REF: OSINT-' + fecha + '</div>';\nh += '</div>';\nh += '</div>';\n\n// ============== LEGAL NOTICE ==============\nh += '<div class=\"legal-box\"><strong>&#9888; Aviso Legal:</strong> Este informe fue generado exclusivamente mediante tecnicas de inteligencia de fuentes abiertas (OSINT) pasivo. No se ha realizado ninguna interaccion directa con los sistemas del objetivo. Toda la informacion recopilada es de acceso publico. Este documento es confidencial y esta destinado unicamente para uso autorizado.</div>';\n\n// ============== ACTION BAR ==============\nh += '<div class=\"action-bar\">';\nh += '<a class=\"btn\" href=\"/informes/\">&#8592; Volver a reportes</a>';\nh += '<a class=\"btn btn-primary\" id=\"dl-btn\" href=\"#\" download>&#11015; Descargar informe</a>';\nh += '</div>';\n\n// ============== RISK SCORE CARD ==============\nh += '<div class=\"risk-card\">';\nh += '<div class=\"risk-gauge-container\"><div class=\"risk-gauge\"><div class=\"risk-gauge-bg\"></div><div class=\"risk-gauge-fill\"></div><div class=\"risk-gauge-inner\"><div class=\"risk-score-num\">' + riskPct + '</div><div class=\"risk-score-label\">de 100</div></div></div></div>';\nh += '<div class=\"risk-info\">';\nh += '<span class=\"risk-level risk-' + r.nivel_riesgo + '\">' + r.nivel_riesgo + '</span>';\nh += '<div class=\"risk-factors\">';\nif (r.riskFactors && r.riskFactors.length > 0) {\n  r.riskFactors.forEach(function(f) { h += '<div class=\"risk-factor\">' + esc(f) + '</div>'; });\n} else {\n  h += '<div class=\"risk-factor\" style=\"color:var(--green)\">No se detectaron factores de riesgo significativos</div>';\n}\nh += '</div></div></div>';\n\n// ============== KPI GRID ==============\nh += '<div class=\"kpi-grid\">';\nh += '<div class=\"kpi\"><div class=\"kpi-value\">' + (r.subdomainCount || 0) + '</div><div class=\"kpi-label\">Subdominios</div></div>';\nh += '<div class=\"kpi\"><div class=\"kpi-value\">' + (r.shodan.puertos ? r.shodan.puertos.length : 0) + '</div><div class=\"kpi-label\">Puertos</div></div>';\nh += '<div class=\"kpi\"><div class=\"kpi-value\">' + (r.shodan.vulns ? r.shodan.vulns.length : 0) + '</div><div class=\"kpi-label\">Vulnerabilidades</div></div>';\nh += '<div class=\"kpi\"><div class=\"kpi-value\">' + (r.emailPatterns ? r.emailPatterns.length : 0) + '</div><div class=\"kpi-label\">Emails</div></div>';\nh += '<div class=\"kpi\"><div class=\"kpi-value\">' + (r.githubRepos ? r.githubRepos.length : 0) + '</div><div class=\"kpi-label\">Repos GitHub</div></div>';\nh += '</div>';\n\n// ============== EXECUTIVE SUMMARY ==============\nh += '<div class=\"section\"><div class=\"section-header\"><div class=\"section-icon si-blue\">&#128202;</div><h2>Resumen Ejecutivo</h2></div>';\nh += '<div class=\"section-body\"><div class=\"exec-grid\">';\nh += '<div class=\"exec-box exec-findings\"><h3><span style=\"color:var(--accent)\">&#9679;</span> Hallazgos Clave</h3>';\n(r.keyFindings || []).forEach(function(f) {\n  h += '<div class=\"exec-item\"><span class=\"exec-bullet\" style=\"background:var(--accent)\"></span>' + esc(f) + '</div>';\n});\nh += '</div>';\nh += '<div class=\"exec-box exec-recs\"><h3><span style=\"color:var(--green)\">&#9679;</span> Recomendaciones</h3>';\n(r.recommendations || []).forEach(function(rec) {\n  h += '<div class=\"exec-item\"><span class=\"exec-bullet\" style=\"background:var(--green)\"></span>' + esc(rec) + '</div>';\n});\nh += '</div>';\nh += '</div></div></div>';\n\n// ============== DOMAIN INFORMATION ==============\nh += '<div class=\"section\"><div class=\"section-header\"><div class=\"section-icon si-purple\">&#128203;</div><h2>Informacion de Dominio</h2></div>';\nh += '<div class=\"section-body\">';\n\n// WHOIS\nh += '<table class=\"info-table\">';\nh += '<tr><td>Dominio</td><td>' + esc(r.whois.nombre_dominio || r.dominio) + '</td></tr>';\nh += '<tr><td>Registrador</td><td>' + esc(r.whois.registrador || 'N/A') + '</td></tr>';\nh += '<tr><td>Fecha de creacion</td><td>' + fechaLegible(r.whois.fecha_creacion) + '</td></tr>';\nh += '<tr><td>Fecha de expiracion</td><td>' + fechaLegible(r.whois.fecha_expiracion) + '</td></tr>';\nh += '<tr><td>Estado</td><td><div class=\"tags\">' + (r.whois.estado.length > 0 ? r.whois.estado.map(function(s){return '<span class=\"tag tag-purple\">' + esc(s) + '</span>'}).join('') : '<span class=\"empty\">N/A</span>') + '</div></td></tr>';\nh += '<tr><td>Nameservers</td><td><div class=\"tags\">' + (r.whois.nameservers.length > 0 ? r.whois.nameservers.map(function(s){return '<span class=\"tag tag-blue\">' + esc(s) + '</span>'}).join('') : '<span class=\"empty\">N/A</span>') + '</div></td></tr>';\nh += '</table>';\n\n// Entities\nif (r.whois.entidades && r.whois.entidades.length > 0) {\n  h += '<div style=\"margin-top:16px;padding-top:16px;border-top:1px solid var(--border)\">';\n  h += '<div style=\"font-size:12px;font-weight:600;color:var(--text2);text-transform:uppercase;letter-spacing:1px;margin-bottom:8px\">Entidades Registrantes</div>';\n  h += '<table class=\"info-table\">';\n  r.whois.entidades.forEach(function(e) {\n    h += '<tr><td>' + esc(e.roles) + '</td><td>' + esc(e.nombre) + (e.handle ? ' <span style=\"color:var(--text3)\">(' + esc(e.handle) + ')</span>' : '') + '</td></tr>';\n  });\n  h += '</table></div>';\n}\n\n// DNS\nh += '<div style=\"margin-top:24px;padding-top:20px;border-top:1px solid var(--border)\">';\nh += '<div style=\"font-size:12px;font-weight:600;color:var(--text2);text-transform:uppercase;letter-spacing:1px;margin-bottom:12px\">Registros DNS</div>';\nh += '<div class=\"dns-grid\">';\nvar tiposDNS = ['A','AAAA','MX','NS','TXT','SOA'];\ntiposDNS.forEach(function(tipo) {\n  var regs = r.dns[tipo] || [];\n  h += '<div class=\"dns-item\"><div class=\"dns-type\">' + tipo + ' (' + regs.length + ')</div><div class=\"dns-records\">';\n  if (regs.length > 0) {\n    regs.forEach(function(v) { h += '<div>' + esc(v) + '</div>'; });\n  } else {\n    h += '<div class=\"empty\">Sin registros</div>';\n  }\n  h += '</div></div>';\n});\nh += '</div></div>';\n\n// Subdomains\nif (r.subdomains && r.subdomains.length > 0) {\n  h += '<div style=\"margin-top:24px;padding-top:20px;border-top:1px solid var(--border)\">';\n  h += '<div style=\"font-size:12px;font-weight:600;color:var(--text2);text-transform:uppercase;letter-spacing:1px;margin-bottom:12px\">Subdominios Descubiertos (' + r.subdomainCount + ')</div>';\n\n  // Source summary\n  var srcLabels = { 'crt.sh': 'crt.sh', 'hackertarget': 'HackerTarget', 'alienvault_otx': 'AlienVault OTX', 'urlscan': 'URLScan.io' };\n  var srcClasses = { 'crt.sh': 'src-crt', 'hackertarget': 'src-ht', 'alienvault_otx': 'src-otx', 'urlscan': 'src-url' };\n  if (r.sourceSummary) {\n    h += '<div class=\"source-summary\">';\n    Object.keys(r.sourceSummary).forEach(function(src) {\n      var label = srcLabels[src] || src;\n      var cls = srcClasses[src] || 'src-crt';\n      h += '<div class=\"source-card\"><span class=\"src-badge ' + cls + '\">' + esc(label) + '</span><span class=\"source-count\">' + r.sourceSummary[src] + '</span><span class=\"source-label\">encontrados</span></div>';\n    });\n    h += '</div>';\n  }\n\n  h += '<div class=\"sub-grid\">';\n  var subsToShow = r.subdomainsWithSources || r.subdomains.map(function(s) { return { name: s, sources: [] }; });\n  var maxSubs = Math.min(subsToShow.length, 80);\n  for (var si = 0; si < maxSubs; si++) {\n    var sub = subsToShow[si];\n    var subName = typeof sub === 'string' ? sub : sub.name;\n    var subSources = typeof sub === 'string' ? [] : (sub.sources || []);\n    h += '<div class=\"sub-item\"><span class=\"sub-name\">' + esc(subName) + '</span><span class=\"sub-sources\">';\n    subSources.forEach(function(src) {\n      var cls = srcClasses[src] || 'src-crt';\n      var shortLabel = { 'crt.sh': 'CRT', 'hackertarget': 'HT', 'alienvault_otx': 'OTX', 'urlscan': 'URL' };\n      h += '<span class=\"src-badge ' + cls + '\">' + (shortLabel[src] || src) + '</span>';\n    });\n    h += '</span></div>';\n  }\n  if (subsToShow.length > 80) {\n    h += '<div class=\"sub-item\" style=\"text-align:center;color:var(--text3);font-style:italic;justify-content:center\">... y ' + (subsToShow.length - 80) + ' mas</div>';\n  }\n  h += '</div></div>';\n}\n\n// Related domains\nif (r.relatedDomains && r.relatedDomains.length > 0) {\n  h += '<div style=\"margin-top:24px;padding-top:20px;border-top:1px solid var(--border)\">';\n  h += '<div style=\"font-size:12px;font-weight:600;color:var(--text2);text-transform:uppercase;letter-spacing:1px;margin-bottom:12px\">Dominios Relacionados (Shodan)</div>';\n  h += '<div class=\"tags\">';\n  r.relatedDomains.forEach(function(d) { h += '<span class=\"tag tag-green\">' + esc(d) + '</span>'; });\n  h += '</div></div>';\n}\n\nh += '</div></div>';\n\n// ============== EMAIL SECURITY ==============\nh += '<div class=\"section\"><div class=\"section-header\"><div class=\"section-icon si-green\">&#128274;</div><h2>Seguridad de Email</h2></div>';\nh += '<div class=\"section-body\">';\n\n// SPF\nvar spf = r.emailSecurity.spf;\nvar spfClass = spf.found ? (spf.record.toLowerCase().indexOf('+all') >= 0 ? 'sec-fail' : 'sec-pass') : 'sec-fail';\nh += '<div class=\"sec-check\"><div class=\"sec-status ' + spfClass + '\">' + (spf.found ? (spfClass === 'sec-pass' ? '&#10003;' : '!') : '&#10007;') + '</div>';\nh += '<div class=\"sec-info\"><div class=\"sec-title\">SPF (Sender Policy Framework)</div>';\nh += '<div class=\"sec-detail\">' + (spf.found ? esc(spf.details) : 'No se encontro registro SPF. El dominio es vulnerable a suplantacion de email.') + '</div>';\nif (spf.found && spf.record) h += '<div class=\"sec-record\">' + esc(spf.record) + '</div>';\nh += '</div></div>';\n\n// DKIM\nvar dk = r.emailSecurity.dkim;\nvar dkClass = dk.found ? 'sec-pass' : 'sec-warn';\nh += '<div class=\"sec-check\"><div class=\"sec-status ' + dkClass + '\">' + (dk.found ? '&#10003;' : '?') + '</div>';\nh += '<div class=\"sec-info\"><div class=\"sec-title\">DKIM (DomainKeys Identified Mail)</div>';\nh += '<div class=\"sec-detail\">' + (dk.found ? 'DKIM detectado en registros DNS.' : 'DKIM no detectable desde registros TXT publicos. Puede estar configurado en selectores especificos.') + '</div>';\nh += '</div></div>';\n\n// DMARC\nvar dm = r.emailSecurity.dmarc;\nvar dmClass = dm.found ? (dm.policy === 'reject' ? 'sec-pass' : (dm.policy === 'quarantine' ? 'sec-warn' : 'sec-fail')) : 'sec-fail';\nh += '<div class=\"sec-check\"><div class=\"sec-status ' + dmClass + '\">' + (dm.found ? (dmClass === 'sec-pass' ? '&#10003;' : '!') : '&#10007;') + '</div>';\nh += '<div class=\"sec-info\"><div class=\"sec-title\">DMARC (Domain-based Message Authentication)</div>';\nh += '<div class=\"sec-detail\">' + (dm.found ? esc(dm.details) : 'No se encontro registro DMARC. El dominio es altamente vulnerable a spoofing y phishing.') + '</div>';\nif (dm.found && dm.record) h += '<div class=\"sec-record\">' + esc(dm.record) + '</div>';\nh += '</div></div>';\n\nh += '</div></div>';\n\n// ============== INFRASTRUCTURE ==============\nh += '<div class=\"section\"><div class=\"section-header\"><div class=\"section-icon si-red\">&#128737;</div><h2>Infraestructura</h2></div>';\nh += '<div class=\"section-body\">';\n\n// Geolocation\nh += '<div style=\"margin-bottom:20px\"><div style=\"font-size:12px;font-weight:600;color:var(--text2);text-transform:uppercase;letter-spacing:1px;margin-bottom:10px\">Geolocalizacion IP</div>';\nh += '<table class=\"info-table\">';\nh += '<tr><td>IP</td><td>' + esc(r.geo.ip) + '</td></tr>';\nh += '<tr><td>Pais</td><td>' + esc(r.geo.country) + (r.geo.countryCode ? ' (' + esc(r.geo.countryCode) + ')' : '') + '</td></tr>';\nh += '<tr><td>Region</td><td>' + esc(r.geo.region) + '</td></tr>';\nh += '<tr><td>Ciudad</td><td>' + esc(r.geo.city) + '</td></tr>';\nh += '<tr><td>ISP</td><td>' + esc(r.geo.isp) + '</td></tr>';\nh += '<tr><td>Organizacion</td><td>' + esc(r.geo.org) + '</td></tr>';\nh += '<tr><td>ASN</td><td>' + esc(r.geo.asn) + '</td></tr>';\nh += '<tr><td>Zona horaria</td><td>' + esc(r.geo.timezone) + '</td></tr>';\nh += '</table></div>';\n\n// Ports table\nh += '<div style=\"margin-top:20px;padding-top:20px;border-top:1px solid var(--border)\">';\nh += '<div style=\"font-size:12px;font-weight:600;color:var(--text2);text-transform:uppercase;letter-spacing:1px;margin-bottom:10px\">Puertos Abiertos (' + r.shodan.puertos.length + ')</div>';\nif (r.shodan.puertos.length > 0) {\n  h += '<table class=\"data-table\"><thead><tr><th>Puerto</th><th>Servicio</th><th>Riesgo</th></tr></thead><tbody>';\n  var riskyPortList = [21,22,23,25,445,3306,3389,5432];\n  r.shodan.puertos.forEach(function(p) {\n    var portNum = typeof p === 'object' ? p.port : p;\n    var svc = typeof p === 'object' ? p.service : 'Unknown';\n    var isRisky = riskyPortList.indexOf(Number(portNum)) >= 0;\n    h += '<tr><td><span class=\"tag ' + (isRisky ? 'tag-red' : 'tag-blue') + '\">' + portNum + '</span></td>';\n    h += '<td>' + esc(svc) + '</td>';\n    h += '<td>' + (isRisky ? '<span class=\"tag tag-red\">Alto</span>' : '<span class=\"tag tag-green\">Normal</span>') + '</td></tr>';\n  });\n  h += '</tbody></table>';\n} else {\n  h += '<div class=\"empty\">No se detectaron puertos abiertos.</div>';\n}\nh += '</div>';\n\n// Vulnerabilities\nh += '<div style=\"margin-top:20px;padding-top:20px;border-top:1px solid var(--border)\">';\nh += '<div style=\"font-size:12px;font-weight:600;color:var(--text2);text-transform:uppercase;letter-spacing:1px;margin-bottom:10px\">Vulnerabilidades (' + r.shodan.vulns.length + ')</div>';\nif (r.shodan.vulns.length > 0) {\n  h += '<div class=\"tags\">';\n  r.shodan.vulns.forEach(function(v) {\n    h += '<a href=\"https://nvd.nist.gov/vuln/detail/' + esc(v) + '\" target=\"_blank\" rel=\"noopener\" style=\"text-decoration:none\"><span class=\"tag tag-red\">' + esc(v) + '</span></a>';\n  });\n  h += '</div>';\n} else {\n  h += '<div class=\"empty\">No se detectaron vulnerabilidades conocidas.</div>';\n}\nh += '</div>';\n\n// CPEs / Technologies\nif (r.shodan.cpes && r.shodan.cpes.length > 0) {\n  h += '<div style=\"margin-top:20px;padding-top:20px;border-top:1px solid var(--border)\">';\n  h += '<div style=\"font-size:12px;font-weight:600;color:var(--text2);text-transform:uppercase;letter-spacing:1px;margin-bottom:10px\">Tecnologias Detectadas (CPE)</div>';\n  h += '<div class=\"tags\">';\n  r.shodan.cpes.forEach(function(c) { h += '<span class=\"tag tag-gray\">' + esc(c) + '</span>'; });\n  h += '</div></div>';\n}\n\nh += '</div></div>';\n\n// ============== EMAIL INTELLIGENCE ==============\nh += '<div class=\"section\"><div class=\"section-header\"><div class=\"section-icon si-orange\">&#9993;</div><h2>Email Intelligence</h2><span class=\"badge\">' + (r.emailPatterns ? r.emailPatterns.length : 0) + ' patrones</span></div>';\nh += '<div class=\"section-body\">';\nh += '<div style=\"font-size:12px;color:var(--text3);margin-bottom:12px\">Patrones de email comunes generados para el dominio. Estos son formatos estandar utilizados por organizaciones.</div>';\nif (r.emailPatterns && r.emailPatterns.length > 0) {\n  h += '<div class=\"email-grid\">';\n  r.emailPatterns.forEach(function(e) { h += '<div class=\"email-item\">' + esc(e) + '</div>'; });\n  h += '</div>';\n}\nh += '</div></div>';\n\n// ============== GITHUB INTELLIGENCE ==============\nh += '<div class=\"section\"><div class=\"section-header\"><div class=\"section-icon si-blue\">&#128187;</div><h2>GitHub Intelligence</h2></div>';\nh += '<div class=\"section-body\">';\n\n// Repos\nh += '<div style=\"font-size:12px;font-weight:600;color:var(--text2);text-transform:uppercase;letter-spacing:1px;margin-bottom:10px\">Repositorios Relacionados (' + (r.githubRepos ? r.githubRepos.length : 0) + ')</div>';\nif (r.githubRepos && r.githubRepos.length > 0) {\n  h += '<table class=\"data-table\"><thead><tr><th>Repositorio</th><th>Descripcion</th><th>Lenguaje</th><th>Stars</th></tr></thead><tbody>';\n  r.githubRepos.forEach(function(repo) {\n    h += '<tr><td><a href=\"' + esc(repo.url) + '\" target=\"_blank\" rel=\"noopener\">' + esc(repo.name) + '</a></td>';\n    h += '<td style=\"max-width:300px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap\">' + esc(repo.description) + '</td>';\n    h += '<td><span class=\"tag tag-blue\">' + esc(repo.language) + '</span></td>';\n    h += '<td>' + (repo.stars || 0) + '</td></tr>';\n  });\n  h += '</tbody></table>';\n} else {\n  h += '<div class=\"empty\">No se encontraron repositorios relacionados.</div>';\n}\n\n// Orgs\nh += '<div style=\"margin-top:20px;padding-top:20px;border-top:1px solid var(--border)\">';\nh += '<div style=\"font-size:12px;font-weight:600;color:var(--text2);text-transform:uppercase;letter-spacing:1px;margin-bottom:10px\">Organizaciones (' + (r.githubOrgs ? r.githubOrgs.length : 0) + ')</div>';\nif (r.githubOrgs && r.githubOrgs.length > 0) {\n  h += '<table class=\"data-table\"><thead><tr><th>Login</th><th>Tipo</th><th>Perfil</th></tr></thead><tbody>';\n  r.githubOrgs.forEach(function(org) {\n    h += '<tr><td><strong>' + esc(org.login) + '</strong></td>';\n    h += '<td><span class=\"tag tag-purple\">' + esc(org.type) + '</span></td>';\n    h += '<td><a href=\"' + esc(org.url) + '\" target=\"_blank\" rel=\"noopener\">Ver perfil</a></td></tr>';\n  });\n  h += '</tbody></table>';\n} else {\n  h += '<div class=\"empty\">No se encontraron organizaciones relacionadas.</div>';\n}\nh += '</div>';\n\nh += '</div></div>';\n\n// ============== GOOGLE DORKS ==============\n\n// === MXToolbox & Blacklist Section ===\nif (r.mxRecords && r.blacklist) {\nh += '<div class=\"section\"><div class=\"section-header\"><div class=\"section-icon si-blue\">&#128233;</div><h2>MXToolbox & Blacklist Analysis</h2></div>';\nh += '<div class=\"section-body\">';\n\nh += '<div style=\"font-size:13px;font-weight:600;color:var(--accent);margin-bottom:12px\">Mail Configuration</div>';\nh += '<div class=\"data-grid\">';\nh += '<div class=\"data-item\"><div class=\"di-label\">Mail Provider</div><div class=\"di-value\">' + esc(r.mxRecords.provider) + '</div></div>';\nh += '<div class=\"data-item\"><div class=\"di-label\">MX Records</div><div class=\"di-value\">' + r.mxRecords.records.length + '</div></div>';\nh += '</div>';\n\nif (r.mxRecords.records.length > 0) {\n  h += '<table style=\"width:100%;border-collapse:collapse;margin-top:16px\">';\n  h += '<thead><tr><th style=\"width:80px;background:var(--card2);color:var(--accent);font-size:11px;text-transform:uppercase;padding:10px 12px;text-align:left;border-bottom:1px solid var(--border)\">Priority</th><th style=\"background:var(--card2);color:var(--accent);font-size:11px;text-transform:uppercase;padding:10px 12px;text-align:left;border-bottom:1px solid var(--border)\">Server</th></tr></thead><tbody>';\n  r.mxRecords.records.forEach(function(mx) {\n    h += '<tr><td style=\"padding:10px 12px;border-bottom:1px solid var(--border)\"><span class=\"tag tag-blue\">' + mx.priority + '</span></td><td style=\"padding:10px 12px;border-bottom:1px solid var(--border);font-family:monospace;font-size:13px\">' + esc(mx.server) + '</td></tr>';\n  });\n  h += '</tbody></table>';\n}\n\nvar blClean = r.blacklist.listedCount === 0;\nh += '<div style=\"font-size:13px;font-weight:600;color:var(--accent);margin:24px 0 12px\">Blacklist Check (' + r.blacklist.totalChecked + ' lists)</div>';\nh += '<div style=\"margin:12px 0;padding:14px 18px;border-radius:8px;font-size:13px;' + (blClean ? 'background:rgba(46,160,67,0.08);border:1px solid rgba(46,160,67,0.2);color:#2ea043' : 'background:rgba(248,81,73,0.08);border:1px solid rgba(248,81,73,0.2);color:#f85149') + '\">';\nh += blClean ? '&#9989; IP not found on any blacklist (' + r.blacklist.totalChecked + '/' + r.blacklist.totalChecked + ' clean)' : '&#9888; Listed on ' + r.blacklist.listedCount + ' of ' + r.blacklist.totalChecked + ' blacklists';\nh += '</div>';\n\nh += '<table style=\"width:100%;border-collapse:collapse\"><thead><tr><th style=\"background:var(--card2);color:var(--accent);font-size:11px;text-transform:uppercase;padding:10px 12px;text-align:left;border-bottom:1px solid var(--border)\">Blacklist</th><th style=\"width:100px;background:var(--card2);color:var(--accent);font-size:11px;text-transform:uppercase;padding:10px 12px;text-align:left;border-bottom:1px solid var(--border)\">Status</th></tr></thead><tbody>';\nr.blacklist.results.forEach(function(bl) {\n  h += '<tr><td style=\"padding:10px 12px;border-bottom:1px solid var(--border)\">' + esc(bl.name) + ' <span style=\"color:var(--text2);font-size:11px\">(' + esc(bl.host) + ')</span></td>';\n  h += '<td style=\"padding:10px 12px;border-bottom:1px solid var(--border)\"><span class=\"tag ' + (bl.listed ? 'tag-red' : 'tag-green') + '\">' + (bl.listed ? 'LISTED' : 'CLEAN') + '</span></td></tr>';\n});\nh += '</tbody></table>';\n\nh += '<div style=\"font-size:13px;font-weight:600;color:var(--accent);margin:24px 0 12px\">MXToolbox Quick Links</div>';\nh += '<div style=\"font-size:12px;color:var(--text2);margin-bottom:12px\">Click to run detailed checks on MXToolbox.com</div>';\nh += '<div style=\"display:grid;grid-template-columns:repeat(auto-fill,minmax(220px,1fr));gap:10px\">';\nr.mxLinks.forEach(function(link) {\n  h += '<a style=\"display:block;padding:14px;background:var(--card2);border:1px solid var(--border);border-radius:8px;text-decoration:none;color:var(--text);transition:all 0.2s\" href=\"' + link.url + '\" target=\"_blank\" rel=\"noopener\">';\n  h += '<div style=\"font-size:13px;font-weight:600;color:var(--accent);margin-bottom:4px\">' + esc(link.name) + '</div>';\n  h += '<div style=\"font-size:11px;color:var(--text2)\">' + esc(link.desc) + '</div>';\n  h += '</a>';\n});\nh += '</div>';\n\nh += '</div></div>';\n}\n\nh += '<div class=\"section\"><div class=\"section-header\"><div class=\"section-icon si-yellow\">&#128269;</div><h2>Google Dorks</h2></div>';\nh += '<div class=\"section-body\">';\nh += '<div style=\"font-size:12px;color:var(--text3);margin-bottom:12px\">Enlaces a busquedas avanzadas de Google. Solo muestran informacion publica indexada por el buscador.</div>';\nh += '<div class=\"dork-list\">';\n(r.dorks || []).forEach(function(d) {\n  var url = 'https://www.google.com/search?q=' + encodeURIComponent(d.query);\n  h += '<a class=\"dork\" href=\"' + url + '\" target=\"_blank\" rel=\"noopener\">';\n  h += '<span class=\"dork-icon\">' + d.icono + '</span>';\n  h += '<div class=\"dork-info\"><div class=\"dork-name\">' + esc(d.nombre) + '</div><div class=\"dork-query\">' + esc(d.query) + '</div></div>';\n  h += '<span class=\"dork-arrow\">&#8594;</span></a>';\n});\nh += '</div></div></div>';\n\n// ============== FOOTER ==============\nh += '<div class=\"footer\">';\nh += '<div class=\"footer-brand\">CorpInt Security Intelligence</div>';\nh += '<div class=\"footer-sources\">Fuentes: Shodan InternetDB &middot; Google DNS (DoH) &middot; RDAP/WHOIS &middot; crt.sh &middot; GitHub API &middot; ip-api.com &middot; Google Dorks</div>';\nh += '<p>OSINT 100% Pasivo &middot; Sin interaccion directa con el objetivo</p>';\nh += '<p style=\"margin-top:8px\">Este informe es generado automaticamente y no constituye asesoramiento legal o de seguridad profesional.</p>';\nh += '<p style=\"margin-top:4px\">La informacion contenida puede estar desactualizada o ser inexacta. Verifique los hallazgos de manera independiente.</p>';\nh += '<p style=\"margin-top:8px;font-size:11px;color:var(--text3)\">Generado por n8n Automation &middot; ' + fechaLegible(r.timestamp) + '</p>';\nh += '</div>';\n\nh += '</div>'; // end .wrap\n\n// Download script\nvar domainSlug = r.dominio.replace(/\\./g, '-');\nvar now = new Date();\nvar ts = now.getFullYear() + '-' + String(now.getMonth()+1).padStart(2,'0') + '-' + String(now.getDate()).padStart(2,'0') + '_' + String(now.getHours()).padStart(2,'0') + '-' + String(now.getMinutes()).padStart(2,'0') + '-' + String(now.getSeconds()).padStart(2,'0');\nvar fileName = domainSlug + '__' + ts + '.html';\nh += '<script>(function(){var b=document.getElementById(\"dl-btn\");if(b){b.href=window.location.href;b.download=\"' + fileName + '\";}})();<\\/script>';\nh += '</body></html>';\n\nvar fs = require('fs');\nfs.writeFileSync('/home/node/.n8n/informes/' + fileName, h);\nreturn [{ json: { mensaje: 'Informe guardado exitosamente', archivo: fileName, path: '/home/node/.n8n/informes/' + fileName } }];\n"
            },
            "id": "a1b2c3d4-0015-4000-a000-000000000015",
            "name": "Guardar Informe HTML",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                1248,
                304
            ]
        },
        {
            "parameters": {
                "jsCode": "\nvar dnsData = $('DNS Completo').first().json;\nvar domain = dnsData.target_domain;\nvar ip = dnsData.target_ip;\nvar dns = dnsData.dns;\n\n// Reverse IP for DNSBL queries\nvar parts = ip.split('.');\nvar reversed = parts[3] + '.' + parts[2] + '.' + parts[1] + '.' + parts[0];\n\n// DNS Blacklists to check\nvar blacklists = [\n  { name: 'Spamhaus ZEN', host: 'zen.spamhaus.org' },\n  { name: 'SpamCop', host: 'bl.spamcop.net' },\n  { name: 'Barracuda', host: 'b.barracudacentral.org' },\n  { name: 'SORBS', host: 'dnsbl.sorbs.net' },\n  { name: 'UCEPROTECT L1', host: 'dnsbl-1.uceprotect.net' },\n  { name: 'Composite BL', host: 'cbl.abuseat.org' },\n  { name: 'SpamRATS', host: 'noptr.spamrats.com' },\n  { name: 'PSBL', host: 'psbl.surriel.com' }\n];\n\nfunction dnsCheck(query) {\n  return new Promise(function(resolve) {\n    var https = require('https');\n    var url = 'https://dns.google/resolve?name=' + encodeURIComponent(query) + '&type=A';\n    https.get(url, { timeout: 5000 }, function(res) {\n      var body = '';\n      res.on('data', function(c) { body += c; });\n      res.on('end', function() {\n        try {\n          var data = JSON.parse(body);\n          resolve(data.Answer && data.Answer.length > 0);\n        } catch(e) { resolve(false); }\n      });\n    }).on('error', function() { resolve(false); })\n      .on('timeout', function() { resolve(false); });\n  });\n}\n\nvar results = [];\nfor (var i = 0; i < blacklists.length; i++) {\n  var bl = blacklists[i];\n  var query = reversed + '.' + bl.host;\n  var listed = await dnsCheck(query);\n  results.push({ name: bl.name, host: bl.host, listed: listed });\n}\n\nvar listedCount = results.filter(function(r) { return r.listed; }).length;\n\n// Parse MX records for mail info\nvar mxRecords = (dns.MX || []).map(function(mx) {\n  var parts = mx.split(' ');\n  return { priority: parseInt(parts[0]) || 0, server: (parts[1] || mx).replace(/\\.$/, '') };\n}).sort(function(a, b) { return a.priority - b.priority; });\n\n// Detect mail provider from MX\nvar mailProvider = 'Unknown';\nvar mxStr = mxRecords.map(function(m) { return m.server; }).join(' ').toLowerCase();\nif (mxStr.indexOf('google') !== -1 || mxStr.indexOf('gmail') !== -1) mailProvider = 'Google Workspace';\nelse if (mxStr.indexOf('outlook') !== -1 || mxStr.indexOf('microsoft') !== -1) mailProvider = 'Microsoft 365';\nelse if (mxStr.indexOf('protonmail') !== -1) mailProvider = 'ProtonMail';\nelse if (mxStr.indexOf('zoho') !== -1) mailProvider = 'Zoho Mail';\nelse if (mxStr.indexOf('mimecast') !== -1) mailProvider = 'Mimecast';\nelse if (mxStr.indexOf('barracuda') !== -1) mailProvider = 'Barracuda';\nelse if (mxStr.indexOf('pphosted') !== -1) mailProvider = 'Proofpoint';\nelse if (mxRecords.length > 0) mailProvider = mxRecords[0].server;\n\n// MXToolbox links\nvar mxLinks = [\n  { name: 'MX Lookup', url: 'https://mxtoolbox.com/SuperTool.aspx?action=mx%3a' + domain, desc: 'Verifica registros MX y configuracion de correo' },\n  { name: 'Blacklist Check', url: 'https://mxtoolbox.com/SuperTool.aspx?action=blacklist%3a' + domain, desc: 'Comprueba si el dominio esta en listas negras' },\n  { name: 'SPF Check', url: 'https://mxtoolbox.com/SuperTool.aspx?action=spf%3a' + domain, desc: 'Valida la configuracion SPF' },\n  { name: 'DMARC Check', url: 'https://mxtoolbox.com/SuperTool.aspx?action=dmarc%3a' + domain, desc: 'Verifica politica DMARC' },\n  { name: 'DKIM Check', url: 'https://mxtoolbox.com/SuperTool.aspx?action=dkim%3a' + domain, desc: 'Comprueba registros DKIM' },\n  { name: 'DNS Check', url: 'https://mxtoolbox.com/SuperTool.aspx?action=dns%3a' + domain, desc: 'Analisis completo de DNS' },\n  { name: 'SMTP Test', url: 'https://mxtoolbox.com/SuperTool.aspx?action=smtp%3a' + domain, desc: 'Prueba conectividad SMTP' },\n  { name: 'HTTP Headers', url: 'https://mxtoolbox.com/SuperTool.aspx?action=header%3a' + domain, desc: 'Analiza cabeceras HTTP de seguridad' }\n];\n\nreturn [{\n  json: {\n    blacklist: { results: results, listedCount: listedCount, totalChecked: blacklists.length },\n    mx: { records: mxRecords, provider: mailProvider },\n    mxLinks: mxLinks\n  }\n}];\n"
            },
            "id": "a1b2c3d4-0020-4000-a000-000000000020",
            "name": "MXToolbox Check",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                928,
                304
            ]
        }
    ],
    "connections": {
        "Inicio Manual": {
            "main": [
                [
                    {
                        "node": "Definir Objetivos",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Webhook Scan": {
            "main": [
                [
                    {
                        "node": "Definir Objetivos",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Definir Objetivos": {
            "main": [
                [
                    {
                        "node": "DNS Completo",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "DNS Completo": {
            "main": [
                [
                    {
                        "node": "Shodan InternetDB",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Shodan InternetDB": {
            "main": [
                [
                    {
                        "node": "RDAP WHOIS",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "RDAP WHOIS": {
            "main": [
                [
                    {
                        "node": "Subdominios Multi-Fuente",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "GitHub OSINT": {
            "main": [
                [
                    {
                        "node": "IP Geolocation",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "IP Geolocation": {
            "main": [
                [
                    {
                        "node": "MXToolbox Check",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Generar Informe OSINT": {
            "main": [
                [
                    {
                        "node": "Guardar Informe HTML",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "MXToolbox Check": {
            "main": [
                [
                    {
                        "node": "Generar Informe OSINT",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Subdominios Multi-Fuente": {
            "main": [
                [
                    {
                        "node": "GitHub OSINT",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "settings": {
        "executionOrder": "v1",
        "binaryMode": "separate",
        "callerPolicy": "workflowsFromSameOwner",
        "availableInMCP": false
    },
    "staticData": null,
    "meta": null,
    "pinData": {},
    "versionId": "cccccccc-dddd-eeee-ffff-019d954dd479",
    "activeVersionId": "cccccccc-dddd-eeee-ffff-019d954dd479",
    "versionCounter": 149,
    "triggerCount": 1,
    "shared": [
        {
            "updatedAt": "2026-04-13T11:24:25.373Z",
            "createdAt": "2026-04-13T11:24:25.373Z",
            "role": "workflow:owner",
            "workflowId": "1001",
            "projectId": "Slf84zOPMDrl1iRS",
            "project": {
                "updatedAt": "2026-04-13T10:45:53.140Z",
                "createdAt": "2026-04-13T09:57:38.521Z",
                "id": "Slf84zOPMDrl1iRS",
                "name": "Marcos Ferreiro Nieto <marcos.ferreiro@cristalizaservicios.es>",
                "type": "personal",
                "icon": null,
                "description": null,
                "creatorId": "de36a39a-6e8e-4896-9d0f-8784c8ea7aa7"
            }
        }
    ],
    "tags": [],
    "activeVersion": {
        "updatedAt": "2026-04-16T08:25:53.000Z",
        "createdAt": "2026-04-16T08:25:53.000Z",
        "versionId": "cccccccc-dddd-eeee-ffff-019d954dd479",
        "workflowId": "1001",
        "nodes": [
            {
                "parameters": {},
                "id": "a1b2c3d4-0001-4000-a000-000000000001",
                "name": "Inicio Manual",
                "type": "n8n-nodes-base.manualTrigger",
                "typeVersion": 1,
                "position": [
                    -560,
                    304
                ]
            },
            {
                "parameters": {
                    "jsCode": "let domain = 'tesla.com';\ntry {\n  const webhookData = $('Webhook Scan').first().json;\n  if (webhookData) {\n    const input = webhookData.target || webhookData.domain \n      || (webhookData.body && (webhookData.body.target || webhookData.body.domain));\n    if (input) {\n      domain = input.trim().toLowerCase();\n      domain = domain.replace(/[^a-z0-9.-]/g, '');\n    }\n  }\n} catch(e) {}\nreturn [{ json: { target_domain: domain } }];"
                },
                "id": "a1b2c3d4-0002-4000-a000-000000000002",
                "name": "Definir Objetivos",
                "type": "n8n-nodes-base.code",
                "typeVersion": 2,
                "position": [
                    -368,
                    400
                ]
            },
            {
                "parameters": {
                    "jsCode": "\nconst domain = $('Definir Objetivos').first().json.target_domain;\nconst tipos = ['A', 'AAAA', 'MX', 'NS', 'TXT', 'SOA'];\nconst resultados = {};\n\nfunction dnsQuery(domain, tipo) {\n  return new Promise(function(resolve) {\n    const https = require('https');\n    const url = 'https://dns.google/resolve?name=' + encodeURIComponent(domain) + '&type=' + encodeURIComponent(tipo);\n    https.get(url, function(res) {\n      let body = '';\n      res.on('data', function(chunk) { body += chunk; });\n      res.on('end', function() {\n        try {\n          const data = JSON.parse(body);\n          resolve((data.Answer || []).map(function(r) { return r.data; }));\n        } catch(e) {\n          resolve([]);\n        }\n      });\n    }).on('error', function() {\n      resolve([]);\n    });\n  });\n}\n\nfor (const tipo of tipos) {\n  resultados[tipo] = await dnsQuery(domain, tipo);\n}\n\nconst ipPrincipal = resultados.A && resultados.A.length > 0 ? resultados.A[0] : 'No encontrada';\n\nreturn [{\n  json: {\n    target_domain: domain,\n    target_ip: ipPrincipal,\n    dns: resultados\n  }\n}];\n"
                },
                "id": "a1b2c3d4-0003-4000-a000-000000000003",
                "name": "DNS Completo",
                "type": "n8n-nodes-base.code",
                "typeVersion": 2,
                "position": [
                    -192,
                    288
                ]
            },
            {
                "parameters": {
                    "jsCode": "\nconst ip = $('DNS Completo').first().json.target_ip;\n\nconst data = await new Promise(function(resolve) {\n  const https = require('https');\n  https.get('https://internetdb.shodan.io/' + encodeURIComponent(ip), { timeout: 10000 }, function(res) {\n    let body = '';\n    res.on('data', function(chunk) { body += chunk; });\n    res.on('end', function() {\n      try { resolve(JSON.parse(body)); }\n      catch(e) { resolve({}); }\n    });\n  }).on('error', function() { resolve({}); })\n    .on('timeout', function() { resolve({}); });\n});\n\nreturn [{ json: data }];\n"
                },
                "id": "a1b2c3d4-0004-4000-a000-000000000004",
                "name": "Shodan InternetDB",
                "type": "n8n-nodes-base.code",
                "typeVersion": 2,
                "position": [
                    -16,
                    288
                ]
            },
            {
                "parameters": {
                    "jsCode": "\nconst domain = $('Definir Objetivos').first().json.target_domain;\n\nfunction httpsGet(url, maxRedirects) {\n  return new Promise(function(resolve) {\n    const https = require('https');\n    const http = require('http');\n    const isHttps = url.indexOf('https://') === 0;\n    const mod = isHttps ? https : http;\n\n    mod.get(url, { timeout: 15000 }, function(res) {\n      if ((res.statusCode === 301 || res.statusCode === 302) && res.headers.location && maxRedirects > 0) {\n        resolve(httpsGet(res.headers.location, maxRedirects - 1));\n        return;\n      }\n      let body = '';\n      res.on('data', function(chunk) { body += chunk; });\n      res.on('end', function() {\n        try { resolve(JSON.parse(body)); }\n        catch(e) { resolve({}); }\n      });\n    }).on('error', function() { resolve({}); })\n      .on('timeout', function() { resolve({}); });\n  });\n}\n\nconst data = await httpsGet('https://rdap.org/domain/' + encodeURIComponent(domain), 5);\n\nreturn [{ json: data }];\n"
                },
                "id": "a1b2c3d4-0006-4000-a000-000000000006",
                "name": "RDAP WHOIS",
                "type": "n8n-nodes-base.code",
                "typeVersion": 2,
                "position": [
                    160,
                    288
                ]
            },
            {
                "parameters": {
                    "httpMethod": "POST",
                    "path": "osint-scan",
                    "responseMode": "lastNode",
                    "options": {}
                },
                "id": "a1b2c3d4-0010-4000-a000-000000000010",
                "name": "Webhook Scan",
                "type": "n8n-nodes-base.webhook",
                "typeVersion": 2,
                "position": [
                    -560,
                    496
                ],
                "webhookId": "6d4e40c8-2196-49b4-acdc-2bc403a17ee6"
            },
            {
                "parameters": {
                    "jsCode": "var domain = $('Definir Objetivos').first().json.target_domain;\nvar https = require('https');\nvar http = require('http');\n\nfunction httpsGet(url, attempt, maxAttempts) {\n  attempt = attempt || 1;\n  maxAttempts = maxAttempts || 2;\n  return new Promise(function(resolve) {\n    var mod = url.indexOf('https://') === 0 ? https : http;\n    var req = mod.get(url, { timeout: 20000, headers: { 'User-Agent': 'n8n-osint-scanner/2.0', 'Accept': 'application/json' } }, function(res) {\n      var body = '';\n      res.on('data', function(chunk) { body += chunk; });\n      res.on('end', function() { resolve({ status: res.statusCode, body: body }); });\n    });\n    req.on('error', function() {\n      if (attempt < maxAttempts) { setTimeout(function() { resolve(httpsGet(url, attempt + 1, maxAttempts)); }, 2000); }\n      else { resolve({ status: 0, body: '' }); }\n    });\n    req.on('timeout', function() {\n      req.destroy();\n      if (attempt < maxAttempts) { setTimeout(function() { resolve(httpsGet(url, attempt + 1, maxAttempts)); }, 2000); }\n      else { resolve({ status: 0, body: '' }); }\n    });\n    req.end();\n  });\n}\n\n// === Source 1: crt.sh ===\nfunction fetchCrtSh() {\n  return httpsGet('https://crt.sh/?q=' + encodeURIComponent(domain) + '&output=json', 1, 3).then(function(res) {\n    var subs = [];\n    try {\n      var data = JSON.parse(res.body);\n      var unique = {};\n      data.forEach(function(entry) {\n        var names = [];\n        if (entry.common_name) names.push(entry.common_name.toLowerCase().trim());\n        if (entry.name_value) {\n          entry.name_value.split(String.fromCharCode(10)).forEach(function(v) {\n            var cleaned = v.toLowerCase().trim();\n            if (cleaned) names.push(cleaned);\n          });\n        }\n        names.forEach(function(name) {\n          if (name.indexOf('*') === -1) unique[name] = true;\n        });\n      });\n      subs = Object.keys(unique);\n    } catch(e) {}\n    return { source: 'crt.sh', subdomains: subs };\n  });\n}\n\n// === Source 2: HackerTarget ===\nfunction fetchHackerTarget() {\n  return httpsGet('https://api.hackertarget.com/hostsearch/?q=' + encodeURIComponent(domain), 1, 2).then(function(res) {\n    var subs = [];\n    try {\n      if (res.status === 200 && res.body && res.body.indexOf('error') === -1 && res.body.indexOf('API count exceeded') === -1) {\n        var lines = res.body.trim().split(String.fromCharCode(10));\n        lines.forEach(function(line) {\n          var parts = line.split(',');\n          if (parts[0]) {\n            var sub = parts[0].toLowerCase().trim();\n            if (sub && sub.indexOf(domain) >= 0) subs.push(sub);\n          }\n        });\n      }\n    } catch(e) {}\n    return { source: 'hackertarget', subdomains: subs };\n  });\n}\n\n// === Source 3: AlienVault OTX ===\nfunction fetchAlienVault() {\n  return httpsGet('https://otx.alienvault.com/api/v1/indicators/domain/' + encodeURIComponent(domain) + '/passive_dns', 1, 2).then(function(res) {\n    var subs = [];\n    try {\n      if (res.status === 200) {\n        var data = JSON.parse(res.body);\n        var records = data.passive_dns || [];\n        records.forEach(function(rec) {\n          if (rec.hostname) {\n            var h = rec.hostname.toLowerCase().trim();\n            if (h.indexOf(domain) >= 0 && h.indexOf('*') === -1) subs.push(h);\n          }\n        });\n      }\n    } catch(e) {}\n    return { source: 'alienvault_otx', subdomains: subs };\n  });\n}\n\n// === Source 4: URLScan.io ===\nfunction fetchUrlscan() {\n  return httpsGet('https://urlscan.io/api/v1/search/?q=domain:' + encodeURIComponent(domain) + '&size=100', 1, 2).then(function(res) {\n    var subs = [];\n    try {\n      if (res.status === 200) {\n        var data = JSON.parse(res.body);\n        var results = data.results || [];\n        var unique = {};\n        results.forEach(function(r) {\n          if (r.page && r.page.domain) {\n            var d = r.page.domain.toLowerCase().trim();\n            if (d.indexOf(domain) >= 0 && !unique[d]) { unique[d] = true; subs.push(d); }\n          }\n        });\n      }\n    } catch(e) {}\n    return { source: 'urlscan', subdomains: subs };\n  });\n}\n\n// === Run all sources in parallel ===\nvar results = await Promise.all([\n  fetchCrtSh(),\n  fetchHackerTarget(),\n  fetchAlienVault(),\n  fetchUrlscan()\n]);\n\n// === Merge and deduplicate ===\nvar allSubs = {};\nvar sourceSummary = {};\n\nresults.forEach(function(r) {\n  sourceSummary[r.source] = r.subdomains.length;\n  r.subdomains.forEach(function(sub) {\n    if (!allSubs[sub]) {\n      allSubs[sub] = [];\n    }\n    if (allSubs[sub].indexOf(r.source) === -1) {\n      allSubs[sub].push(r.source);\n    }\n  });\n});\n\nvar subdomainList = Object.keys(allSubs).sort();\nvar subdomainsWithSources = subdomainList.map(function(sub) {\n  return { name: sub, sources: allSubs[sub] };\n});\n\nreturn [{ json: {\n  subdomains: subdomainList,\n  subdomainsWithSources: subdomainsWithSources,\n  count: subdomainList.length,\n  sourceSummary: sourceSummary,\n  sourcesUsed: ['crt.sh', 'hackertarget', 'alienvault_otx', 'urlscan']\n}}];"
                },
                "id": "a1b2c3d4-0011-4000-a000-000000000011",
                "name": "Subdominios Multi-Fuente",
                "type": "n8n-nodes-base.code",
                "typeVersion": 2,
                "position": [
                    336,
                    288
                ]
            },
            {
                "parameters": {
                    "jsCode": "\nvar domain = $('Definir Objetivos').first().json.target_domain;\nvar https = require('https');\n\nfunction githubSearch(path) {\n  return new Promise(function(resolve) {\n    var options = {\n      hostname: 'api.github.com',\n      path: path,\n      method: 'GET',\n      timeout: 15000,\n      headers: {\n        'User-Agent': 'n8n-osint-scanner/1.0',\n        'Accept': 'application/vnd.github.v3+json'\n      }\n    };\n    var req = https.request(options, function(res) {\n      var body = '';\n      res.on('data', function(chunk) { body += chunk; });\n      res.on('end', function() {\n        try { resolve(JSON.parse(body)); }\n        catch(e) { resolve({ items: [] }); }\n      });\n    });\n    req.on('error', function() { resolve({ items: [] }); });\n    req.on('timeout', function() { req.destroy(); resolve({ items: [] }); });\n    req.end();\n  });\n}\n\nvar repoData = await githubSearch('/search/repositories?q=' + encodeURIComponent(domain) + '&per_page=10&sort=stars&order=desc');\nvar repos = (repoData.items || []).map(function(r) {\n  return {\n    name: r.full_name || '',\n    description: (r.description || '').substring(0, 120),\n    stars: r.stargazers_count || 0,\n    language: r.language || 'N/A',\n    url: r.html_url || '',\n    updated: r.updated_at || ''\n  };\n});\n\nvar domainBase = domain.split('.')[0];\nvar orgData = await githubSearch('/search/users?q=' + encodeURIComponent(domainBase) + '+type:org&per_page=10');\nvar orgs = (orgData.items || []).map(function(o) {\n  return {\n    login: o.login || '',\n    url: o.html_url || '',\n    avatar: o.avatar_url || '',\n    type: o.type || 'Organization'\n  };\n});\n\nreturn [{ json: { github_repos: repos, github_orgs: orgs, repos_count: repos.length, orgs_count: orgs.length } }];\n"
                },
                "id": "a1b2c3d4-0012-4000-a000-000000000012",
                "name": "GitHub OSINT",
                "type": "n8n-nodes-base.code",
                "typeVersion": 2,
                "position": [
                    512,
                    288
                ]
            },
            {
                "parameters": {
                    "jsCode": "\nvar ip = $('DNS Completo').first().json.target_ip;\nvar http = require('http');\n\nvar geoData = await new Promise(function(resolve) {\n  var options = {\n    hostname: 'ip-api.com',\n    path: '/json/' + encodeURIComponent(ip),\n    method: 'GET',\n    timeout: 10000\n  };\n  var req = http.request(options, function(res) {\n    var body = '';\n    res.on('data', function(chunk) { body += chunk; });\n    res.on('end', function() {\n      try { resolve(JSON.parse(body)); }\n      catch(e) { resolve({}); }\n    });\n  });\n  req.on('error', function() { resolve({}); });\n  req.on('timeout', function() { req.destroy(); resolve({}); });\n  req.end();\n});\n\nreturn [{ json: {\n  geo_ip: ip,\n  geo_country: geoData.country || 'N/A',\n  geo_countryCode: geoData.countryCode || '',\n  geo_region: geoData.regionName || 'N/A',\n  geo_city: geoData.city || 'N/A',\n  geo_lat: geoData.lat || 0,\n  geo_lon: geoData.lon || 0,\n  geo_isp: geoData.isp || 'N/A',\n  geo_org: geoData.org || 'N/A',\n  geo_as: geoData.as || 'N/A',\n  geo_timezone: geoData.timezone || 'N/A'\n} }];\n"
                },
                "id": "a1b2c3d4-0013-4000-a000-000000000013",
                "name": "IP Geolocation",
                "type": "n8n-nodes-base.code",
                "typeVersion": 2,
                "position": [
                    688,
                    288
                ]
            },
            {
                "parameters": {
                    "jsCode": "\nvar dnsData = $('DNS Completo').first().json;\nvar shodan = $('Shodan InternetDB').first().json;\nvar rdap = $('RDAP WHOIS').first().json;\nvar subData = $('Subdominios Multi-Fuente').first().json;\nvar ghData = $('GitHub OSINT').first().json;\nvar geoData = $('IP Geolocation').first().json;\nvar mxData = $('MXToolbox Check').first().json;\n\nvar domain = dnsData.target_domain;\nvar ip = dnsData.target_ip;\nvar dns = dnsData.dns;\n\n// --- PORT MAP ---\nvar portMap = {20:'FTP-Data',21:'FTP',22:'SSH',23:'Telnet',25:'SMTP',53:'DNS',80:'HTTP',110:'POP3',143:'IMAP',443:'HTTPS',445:'SMB',993:'IMAPS',995:'POP3S',2053:'Unknown',2082:'cPanel',2083:'cPanel-SSL',2086:'WHM',2087:'WHM-SSL',2095:'Webmail',3306:'MySQL',3389:'RDP',5432:'PostgreSQL',8080:'HTTP-Proxy',8443:'HTTPS-Alt',8880:'HTTP-Alt',8888:'HTTP-Alt'};\n\n// --- SHODAN ---\nvar shodanInfo = {\n  ip: shodan.ip || ip,\n  puertos: (shodan.ports || []).map(function(p) { return { port: p, service: portMap[p] || 'Unknown' }; }),\n  hostnames: shodan.hostnames || [],\n  vulns: shodan.vulns || [],\n  cpes: shodan.cpes || [],\n  tags: shodan.tags || []\n};\n\n// --- RELATED DOMAINS from Shodan hostnames ---\nvar relatedDomains = [];\n(shodan.hostnames || []).forEach(function(h) {\n  var cleaned = h.toLowerCase().trim();\n  if (cleaned && cleaned !== domain && relatedDomains.indexOf(cleaned) === -1) {\n    relatedDomains.push(cleaned);\n  }\n});\n\n// --- WHOIS ---\nvar whoisInfo = {\n  nombre_dominio: '', registrador: '', fecha_creacion: '', fecha_expiracion: '',\n  estado: [], nameservers: [], entidades: []\n};\nif (rdap && !rdap.error && rdap.ldhName) {\n  whoisInfo.nombre_dominio = rdap.ldhName || domain;\n  whoisInfo.estado = rdap.status || [];\n  if (rdap.events) {\n    rdap.events.forEach(function(e) {\n      if (e.eventAction === 'registration') whoisInfo.fecha_creacion = e.eventDate || '';\n      if (e.eventAction === 'expiration') whoisInfo.fecha_expiracion = e.eventDate || '';\n    });\n  }\n  if (rdap.nameservers) {\n    whoisInfo.nameservers = rdap.nameservers.map(function(ns) { return ns.ldhName || ''; });\n  }\n  if (rdap.entities) {\n    rdap.entities.forEach(function(ent) {\n      var roles = (ent.roles || []).join(', ');\n      var nombre = '';\n      if (ent.vcardArray && ent.vcardArray[1]) {\n        ent.vcardArray[1].forEach(function(v) {\n          if (v[0] === 'fn') nombre = v[3] || '';\n        });\n      }\n      if (ent.handle) whoisInfo.registrador = whoisInfo.registrador || ent.handle;\n      if (nombre || roles) whoisInfo.entidades.push({ nombre: nombre, roles: roles, handle: ent.handle || '' });\n    });\n  }\n}\n\n// --- EMAIL SECURITY: SPF, DKIM, DMARC ---\nvar txtRecords = dns.TXT || [];\nvar spf = { found: false, record: '', details: '' };\nvar dkim = { found: false, details: '' };\nvar dmarc = { found: false, record: '', policy: '', details: '' };\n\ntxtRecords.forEach(function(rec) {\n  var recLower = rec.toLowerCase();\n  if (recLower.indexOf('v=spf1') >= 0) {\n    spf.found = true;\n    spf.record = rec;\n    if (recLower.indexOf('-all') >= 0) spf.details = 'Strict (-all): solo IPs autorizadas pueden enviar email';\n    else if (recLower.indexOf('~all') >= 0) spf.details = 'Soft fail (~all): IPs no autorizadas marcadas pero no rechazadas';\n    else if (recLower.indexOf('+all') >= 0) spf.details = 'Permisivo (+all): PELIGROSO - cualquiera puede enviar email';\n    else if (recLower.indexOf('?all') >= 0) spf.details = 'Neutral (?all): sin politica definida';\n    else spf.details = 'SPF configurado';\n  }\n  if (recLower.indexOf('v=dkim') >= 0 || recLower.indexOf('dkim') >= 0) {\n    dkim.found = true;\n    dkim.details = rec;\n  }\n  if (recLower.indexOf('v=dmarc') >= 0) {\n    dmarc.found = true;\n    dmarc.record = rec;\n    if (recLower.indexOf('p=reject') >= 0) { dmarc.policy = 'reject'; dmarc.details = 'Politica estricta: emails no autenticados son rechazados'; }\n    else if (recLower.indexOf('p=quarantine') >= 0) { dmarc.policy = 'quarantine'; dmarc.details = 'Cuarentena: emails no autenticados van a spam'; }\n    else if (recLower.indexOf('p=none') >= 0) { dmarc.policy = 'none'; dmarc.details = 'Solo monitoreo: no se toman acciones (inseguro)'; }\n    else { dmarc.policy = 'unknown'; dmarc.details = 'Politica no reconocida'; }\n  }\n});\n\nvar emailSecurity = { spf: spf, dkim: dkim, dmarc: dmarc };\n\n// --- EMAIL PATTERNS ---\nvar emailPatterns = [\n  'info@' + domain, 'admin@' + domain, 'support@' + domain,\n  'contact@' + domain, 'sales@' + domain, 'hr@' + domain,\n  'security@' + domain, 'abuse@' + domain, 'webmaster@' + domain,\n  'postmaster@' + domain, 'noreply@' + domain, 'help@' + domain,\n  'billing@' + domain, 'legal@' + domain, 'marketing@' + domain,\n  'press@' + domain, 'jobs@' + domain, 'careers@' + domain\n];\n\n// --- SUBDOMAINS ---\nvar subdomains = subData.subdomains || [];\nvar subdomainCount = subData.count || 0;\nvar subdomainsWithSources = subData.subdomainsWithSources || [];\nvar sourceSummary = subData.sourceSummary || {};\nvar sourcesUsed = subData.sourcesUsed || [];\n\n// --- GITHUB ---\nvar githubRepos = ghData.github_repos || [];\nvar githubOrgs = ghData.github_orgs || [];\n\n// --- GEOLOCATION ---\nvar geo = {\n  ip: geoData.geo_ip || ip,\n  country: geoData.geo_country || 'N/A',\n  countryCode: geoData.geo_countryCode || '',\n  region: geoData.geo_region || 'N/A',\n  city: geoData.geo_city || 'N/A',\n  lat: geoData.geo_lat || 0,\n  lon: geoData.geo_lon || 0,\n  isp: geoData.geo_isp || 'N/A',\n  org: geoData.geo_org || 'N/A',\n  asn: geoData.geo_as || 'N/A',\n  timezone: geoData.geo_timezone || 'N/A'\n};\n\n// --- RISK SCORE (out of 100) ---\nvar riskScore = 0;\nvar riskFactors = [];\n\n// Open ports risk\nvar riskyPorts = [21,22,23,25,445,3306,3389,5432];\nvar openPorts = shodan.ports || [];\nif (openPorts.length > 10) { riskScore += 15; riskFactors.push('Mas de 10 puertos abiertos'); }\nelse if (openPorts.length > 5) { riskScore += 10; riskFactors.push(openPorts.length + ' puertos abiertos'); }\nelse if (openPorts.length > 0) { riskScore += 5; }\nopenPorts.forEach(function(p) {\n  if (riskyPorts.indexOf(p) >= 0) { riskScore += 5; riskFactors.push('Puerto de alto riesgo abierto: ' + p + ' (' + (portMap[p]||'Unknown') + ')'); }\n});\n\n// Vulns risk\nif (shodanInfo.vulns.length > 5) { riskScore += 30; riskFactors.push(shodanInfo.vulns.length + ' vulnerabilidades conocidas (critico)'); }\nelse if (shodanInfo.vulns.length > 0) { riskScore += 15 + shodanInfo.vulns.length * 3; riskFactors.push(shodanInfo.vulns.length + ' vulnerabilidades conocidas'); }\n\n// Email security risk\nif (!dmarc.found) { riskScore += 10; riskFactors.push('DMARC no configurado - vulnerable a spoofing'); }\nelse if (dmarc.policy === 'none') { riskScore += 5; riskFactors.push('DMARC en modo solo monitoreo'); }\nif (!spf.found) { riskScore += 8; riskFactors.push('SPF no configurado'); }\nelse if (spf.record.toLowerCase().indexOf('+all') >= 0) { riskScore += 10; riskFactors.push('SPF permisivo (+all)'); }\n\n// Cap at 100\nif (riskScore > 100) riskScore = 100;\n\nvar riskLevel = 'BAJO';\nif (riskScore >= 75) riskLevel = 'CRITICO';\nelse if (riskScore >= 50) riskLevel = 'ALTO';\nelse if (riskScore >= 25) riskLevel = 'MEDIO';\n\n// --- EXECUTIVE SUMMARY ---\nvar keyFindings = [];\nif (shodanInfo.vulns.length > 0) keyFindings.push('Se detectaron ' + shodanInfo.vulns.length + ' vulnerabilidades conocidas en la infraestructura.');\nif (openPorts.length > 0) keyFindings.push('Se encontraron ' + openPorts.length + ' puertos abiertos expuestos a Internet.');\nif (!dmarc.found || !spf.found) keyFindings.push('La configuracion de seguridad de email es deficiente.');\nif (subdomainCount > 20) keyFindings.push('Se identificaron ' + subdomainCount + ' subdominios, lo que representa una superficie de ataque amplia.');\nif (githubRepos.length > 0) keyFindings.push('Se encontraron ' + githubRepos.length + ' repositorios publicos relacionados en GitHub.');\nif (keyFindings.length === 0) keyFindings.push('No se detectaron hallazgos criticos de seguridad en el analisis pasivo.');\n\nvar recommendations = [];\nif (!dmarc.found) recommendations.push('Implementar politica DMARC con p=reject.');\nif (!spf.found) recommendations.push('Configurar registro SPF restrictivo.');\nif (shodanInfo.vulns.length > 0) recommendations.push('Parchear las vulnerabilidades detectadas de manera urgente.');\nvar riskyOpen = openPorts.filter(function(p) { return riskyPorts.indexOf(p) >= 0; });\nif (riskyOpen.length > 0) recommendations.push('Revisar y restringir acceso a puertos de alto riesgo: ' + riskyOpen.join(', ') + '.');\nif (subdomainCount > 20) recommendations.push('Auditar subdominios para identificar servicios obsoletos o expuestos.');\nif (recommendations.length === 0) recommendations.push('Mantener la postura de seguridad actual y realizar escaneos periodicos.');\n\n// --- DORKS ---\nvar dorks = [\n  { icono: '&#128196;', nombre: 'Documentos expuestos', query: 'site:' + domain + ' filetype:pdf OR filetype:doc OR filetype:xls OR filetype:txt OR filetype:csv' },\n  { icono: '&#128274;', nombre: 'Paneles de acceso', query: 'site:' + domain + ' inurl:login OR inurl:admin OR inurl:signin OR inurl:portal' },\n  { icono: '&#128194;', nombre: 'Directorios abiertos', query: 'site:' + domain + ' intitle:\"index of\"' },\n  { icono: '&#128269;', nombre: 'Informacion sensible', query: 'site:' + domain + ' intext:password OR intext:confidential OR intext:internal' },\n  { icono: '&#127760;', nombre: 'Subdominios indexados', query: 'site:*.' + domain },\n  { icono: '&#128736;', nombre: 'Tecnologias web', query: 'site:' + domain + ' inurl:wp-content OR inurl:wp-admin OR inurl:joomla OR inurl:drupal OR inurl:api' },\n  { icono: '&#9888;', nombre: 'Errores y mensajes debug', query: 'site:' + domain + ' intext:\"error\" OR intext:\"exception\" OR intext:\"stack trace\"' },\n  { icono: '&#128101;', nombre: 'Presencia digital', query: '\"' + domain + '\" site:linkedin.com OR site:github.com OR site:twitter.com' },\n  { icono: '&#128273;', nombre: 'Archivos de configuracion', query: 'site:' + domain + ' filetype:env OR filetype:yml OR filetype:xml OR filetype:json OR filetype:ini' },\n  { icono: '&#128187;', nombre: 'Codigo fuente expuesto', query: 'site:' + domain + ' filetype:php OR filetype:asp OR filetype:jsp OR filetype:sql' }\n];\n\n// Derive company name from domain\nvar companyName = domain.split('.')[0];\ncompanyName = companyName.charAt(0).toUpperCase() + companyName.slice(1);\n\nreturn [{\n  json: {\n    resumen: {\n      dominio: domain,\n      ip: ip,\n      companyName: companyName,\n      nivel_riesgo: riskLevel,\n      riesgo_puntuacion: riskScore,\n      riskFactors: riskFactors,\n      dns: dns,\n      shodan: shodanInfo,\n      whois: whoisInfo,\n      emailSecurity: emailSecurity,\n      emailPatterns: emailPatterns,\n      subdomains: subdomains,\n      subdomainCount: subdomainCount,\n      subdomainsWithSources: subdomainsWithSources,\n      sourceSummary: sourceSummary,\n      sourcesUsed: sourcesUsed,\n      githubRepos: githubRepos,\n      githubOrgs: githubOrgs,\n      geo: geo,\n      relatedDomains: relatedDomains,\n      dorks: dorks,\n      blacklist: mxData.blacklist,\n      mxRecords: mxData.mx,\n      mxLinks: mxData.mxLinks,\n      keyFindings: keyFindings,\n      recommendations: recommendations,\n      timestamp: new Date().toISOString()\n    }\n  }\n}];\n"
                },
                "id": "a1b2c3d4-0014-4000-a000-000000000014",
                "name": "Generar Informe OSINT",
                "type": "n8n-nodes-base.code",
                "typeVersion": 2,
                "position": [
                    1088,
                    304
                ]
            },
            {
                "parameters": {
                    "jsCode": "\nvar r = $('Generar Informe OSINT').first().json.resumen;\nvar fecha = new Date().toISOString().replace(/[:.]/g, '-').slice(0, 19);\nfunction esc(s) { return String(s || '').replace(/&/g,'&amp;').replace(/</g,'&lt;').replace(/>/g,'&gt;').replace(/\"/g,'&quot;'); }\nfunction fechaLegible(iso) {\n  if (!iso) return 'N/A';\n  try { return new Date(iso).toLocaleDateString('es-ES', { year:'numeric', month:'long', day:'numeric' }); }\n  catch(e) { return iso; }\n}\nfunction fechaCorta(iso) {\n  if (!iso) return 'N/A';\n  try { return new Date(iso).toLocaleDateString('es-ES', { year:'numeric', month:'2-digit', day:'2-digit' }); }\n  catch(e) { return iso; }\n}\n\n// Risk gauge CSS percentage (score out of 100)\nvar riskPct = Math.min(r.riesgo_puntuacion, 100);\nvar riskColor = '#22c55e';\nif (riskPct >= 75) riskColor = '#ef4444';\nelse if (riskPct >= 50) riskColor = '#f97316';\nelse if (riskPct >= 25) riskColor = '#eab308';\n\nvar h = '<!DOCTYPE html><html lang=\"es\"><head><meta charset=\"UTF-8\">';\nh += '<meta name=\"viewport\" content=\"width=device-width,initial-scale=1.0\">';\nh += '<title>OSINT Report - ' + esc(r.dominio) + '</title>';\nh += '<style>';\n\n// CSS Variables - Light professional theme\nh += ':root{';\nh += '--bg:#f5f6fa;--bg2:#eef0f5;--card:#ffffff;--card2:#f8f9fc;';\nh += '--border:#e2e5ed;--border2:#d1d5de;';\nh += '--text:#1a1d26;--text2:#5a6178;--text3:#8890a4;';\nh += '--accent:#2563eb;--accent-light:#dbeafe;--accent-dark:#1d4ed8;';\nh += '--green:#16a34a;--green-bg:#dcfce7;--green-border:#86efac;';\nh += '--yellow:#ca8a04;--yellow-bg:#fef9c3;--yellow-border:#fde047;';\nh += '--orange:#ea580c;--orange-bg:#ffedd5;--orange-border:#fdba74;';\nh += '--red:#dc2626;--red-bg:#fee2e2;--red-border:#fca5a5;';\nh += '--purple:#7c3aed;--purple-bg:#ede9fe;--purple-border:#c4b5fd;';\nh += '--radius:10px;--shadow:0 1px 3px rgba(0,0,0,0.06),0 1px 2px rgba(0,0,0,0.04);';\nh += '--shadow-lg:0 4px 12px rgba(0,0,0,0.08);';\nh += '}';\n\nh += '*{box-sizing:border-box;margin:0;padding:0}';\nh += 'body{font-family:-apple-system,BlinkMacSystemFont,\"Segoe UI\",Roboto,\"Helvetica Neue\",Arial,sans-serif;background:var(--bg);color:var(--text);line-height:1.6;-webkit-font-smoothing:antialiased}';\nh += '.wrap{max-width:1100px;margin:0 auto;padding:32px 24px}';\n\n// Header\nh += '.report-header{background:var(--card);border:1px solid var(--border);border-radius:var(--radius);padding:32px 36px;margin-bottom:24px;box-shadow:var(--shadow);display:flex;align-items:center;justify-content:space-between;flex-wrap:wrap;gap:16px}';\nh += '.header-left{flex:1;min-width:280px}';\nh += '.header-brand{font-size:11px;font-weight:700;text-transform:uppercase;letter-spacing:2.5px;color:var(--accent);margin-bottom:6px}';\nh += '.header-title{font-size:26px;font-weight:700;color:var(--text);margin-bottom:2px}';\nh += '.header-subtitle{font-size:14px;color:var(--text2)}';\nh += '.header-meta{display:flex;flex-direction:column;align-items:flex-end;gap:4px}';\nh += '.header-date{font-size:13px;color:var(--text2)}';\nh += '.header-id{font-size:11px;color:var(--text3);font-family:monospace}';\n\n// Action bar\nh += '.action-bar{display:flex;gap:10px;margin-bottom:24px;flex-wrap:wrap}';\nh += '.btn{display:inline-flex;align-items:center;gap:8px;padding:10px 20px;border-radius:8px;font-size:13px;font-weight:600;text-decoration:none;cursor:pointer;border:1px solid var(--border);transition:all 0.15s;background:var(--card);color:var(--text2)}';\nh += '.btn:hover{border-color:var(--accent);color:var(--accent);box-shadow:var(--shadow)}';\nh += '.btn-primary{background:var(--accent);color:#fff;border-color:var(--accent)}';\nh += '.btn-primary:hover{background:var(--accent-dark);border-color:var(--accent-dark);color:#fff}';\n\n// Risk Score Card\nh += '.risk-card{background:var(--card);border:1px solid var(--border);border-radius:var(--radius);padding:32px;margin-bottom:24px;box-shadow:var(--shadow);display:flex;align-items:center;gap:40px;flex-wrap:wrap}';\nh += '.risk-gauge-container{position:relative;width:140px;height:140px;flex-shrink:0}';\nh += '.risk-gauge{width:140px;height:140px;border-radius:50%;position:relative;display:flex;align-items:center;justify-content:center}';\nh += '.risk-gauge-bg{position:absolute;inset:0;border-radius:50%;background:conic-gradient(var(--border) 0deg, var(--border) 360deg)}';\nh += '.risk-gauge-fill{position:absolute;inset:0;border-radius:50%;background:conic-gradient(' + riskColor + ' 0deg, ' + riskColor + ' ' + (riskPct * 3.6) + 'deg, transparent ' + (riskPct * 3.6) + 'deg, transparent 360deg);transition:all 0.5s}';\nh += '.risk-gauge-inner{position:relative;z-index:1;width:108px;height:108px;border-radius:50%;background:var(--card);display:flex;flex-direction:column;align-items:center;justify-content:center;box-shadow:inset 0 1px 3px rgba(0,0,0,0.06)}';\nh += '.risk-score-num{font-size:36px;font-weight:800;color:' + riskColor + ';line-height:1}';\nh += '.risk-score-label{font-size:11px;color:var(--text3);text-transform:uppercase;letter-spacing:1px;margin-top:2px}';\nh += '.risk-info{flex:1;min-width:260px}';\nh += '.risk-level{font-size:13px;font-weight:700;text-transform:uppercase;letter-spacing:1px;margin-bottom:4px;display:inline-flex;align-items:center;gap:6px;padding:4px 12px;border-radius:6px}';\nh += '.risk-BAJO{background:var(--green-bg);color:var(--green);border:1px solid var(--green-border)}';\nh += '.risk-MEDIO{background:var(--yellow-bg);color:var(--yellow);border:1px solid var(--yellow-border)}';\nh += '.risk-ALTO{background:var(--orange-bg);color:var(--orange);border:1px solid var(--orange-border)}';\nh += '.risk-CRITICO{background:var(--red-bg);color:var(--red);border:1px solid var(--red-border)}';\nh += '.risk-factors{margin-top:12px}';\nh += '.risk-factor{font-size:13px;color:var(--text2);padding:4px 0;display:flex;align-items:flex-start;gap:6px}';\nh += '.risk-factor::before{content:\"\\26A0\";font-size:12px;flex-shrink:0;margin-top:2px}';\n\n// KPI Grid\nh += '.kpi-grid{display:grid;grid-template-columns:repeat(auto-fit,minmax(170px,1fr));gap:14px;margin-bottom:24px}';\nh += '.kpi{background:var(--card);border:1px solid var(--border);border-radius:var(--radius);padding:20px;box-shadow:var(--shadow);text-align:center}';\nh += '.kpi-value{font-size:28px;font-weight:800;color:var(--accent);line-height:1.2}';\nh += '.kpi-label{font-size:12px;color:var(--text3);text-transform:uppercase;letter-spacing:0.8px;margin-top:4px}';\n\n// Section\nh += '.section{background:var(--card);border:1px solid var(--border);border-radius:var(--radius);margin-bottom:20px;overflow:hidden;box-shadow:var(--shadow)}';\nh += '.section-header{display:flex;align-items:center;gap:12px;padding:18px 24px;border-bottom:1px solid var(--border);background:var(--card2)}';\nh += '.section-icon{width:34px;height:34px;border-radius:8px;display:flex;align-items:center;justify-content:center;font-size:17px;flex-shrink:0}';\nh += '.si-blue{background:var(--accent-light);color:var(--accent)}';\nh += '.si-green{background:var(--green-bg);color:var(--green)}';\nh += '.si-red{background:var(--red-bg);color:var(--red)}';\nh += '.si-purple{background:var(--purple-bg);color:var(--purple)}';\nh += '.si-yellow{background:var(--yellow-bg);color:var(--yellow)}';\nh += '.si-orange{background:var(--orange-bg);color:var(--orange)}';\nh += '.section-header h2{font-size:15px;font-weight:700;color:var(--text)}';\nh += '.section-header .badge{font-size:11px;padding:2px 8px;border-radius:10px;background:var(--accent-light);color:var(--accent);font-weight:600;margin-left:auto}';\nh += '.section-body{padding:24px}';\n\n// Info table\nh += '.info-table{width:100%;border-collapse:collapse}';\nh += '.info-table tr{border-bottom:1px solid var(--border)}';\nh += '.info-table tr:last-child{border-bottom:none}';\nh += '.info-table td{padding:11px 0;font-size:14px;vertical-align:top}';\nh += '.info-table td:first-child{width:180px;color:var(--text2);font-size:13px;font-weight:500}';\nh += '.info-table td:last-child{font-family:\"SF Mono\",SFMono-Regular,Menlo,Consolas,monospace;font-size:13px;word-break:break-all}';\n\n// Data table\nh += '.data-table{width:100%;border-collapse:collapse;font-size:13px}';\nh += '.data-table thead{background:var(--card2)}';\nh += '.data-table th{padding:10px 14px;text-align:left;font-weight:600;color:var(--text2);font-size:12px;text-transform:uppercase;letter-spacing:0.5px;border-bottom:2px solid var(--border)}';\nh += '.data-table td{padding:10px 14px;border-bottom:1px solid var(--border);vertical-align:top}';\nh += '.data-table tr:last-child td{border-bottom:none}';\nh += '.data-table tr:hover{background:var(--card2)}';\nh += '.data-table a{color:var(--accent);text-decoration:none}';\nh += '.data-table a:hover{text-decoration:underline}';\n\n// Tags\nh += '.tags{display:flex;flex-wrap:wrap;gap:6px}';\nh += '.tag{display:inline-flex;align-items:center;padding:4px 10px;border-radius:6px;font-family:monospace;font-size:12px;font-weight:500;border:1px solid}';\nh += '.tag-blue{background:var(--accent-light);border-color:rgba(37,99,235,0.2);color:var(--accent)}';\nh += '.tag-red{background:var(--red-bg);border-color:var(--red-border);color:var(--red)}';\nh += '.tag-green{background:var(--green-bg);border-color:var(--green-border);color:var(--green)}';\nh += '.tag-purple{background:var(--purple-bg);border-color:var(--purple-border);color:var(--purple)}';\nh += '.tag-yellow{background:var(--yellow-bg);border-color:var(--yellow-border);color:var(--yellow)}';\nh += '.tag-orange{background:var(--orange-bg);border-color:var(--orange-border);color:var(--orange)}';\nh += '.tag-gray{background:var(--bg2);border-color:var(--border);color:var(--text2)}';\n\n// DNS Grid\nh += '.dns-grid{display:grid;grid-template-columns:1fr 1fr;gap:12px}';\nh += '.dns-item{background:var(--card2);border:1px solid var(--border);border-radius:8px;padding:14px}';\nh += '.dns-type{font-size:11px;font-weight:700;text-transform:uppercase;letter-spacing:1px;color:var(--accent);margin-bottom:6px}';\nh += '.dns-records{font-family:monospace;font-size:12px;color:var(--text);word-break:break-all}';\nh += '.dns-records div{padding:2px 0}';\nh += '.empty{color:var(--text3);font-style:italic;font-size:13px}';\n\n// Security check\nh += '.sec-check{display:flex;align-items:flex-start;gap:12px;padding:14px;border:1px solid var(--border);border-radius:8px;margin-bottom:10px;background:var(--card2)}';\nh += '.sec-check:last-child{margin-bottom:0}';\nh += '.sec-status{width:28px;height:28px;border-radius:50%;display:flex;align-items:center;justify-content:center;font-size:14px;font-weight:700;flex-shrink:0}';\nh += '.sec-pass{background:var(--green-bg);color:var(--green);border:1px solid var(--green-border)}';\nh += '.sec-warn{background:var(--yellow-bg);color:var(--yellow);border:1px solid var(--yellow-border)}';\nh += '.sec-fail{background:var(--red-bg);color:var(--red);border:1px solid var(--red-border)}';\nh += '.sec-info{flex:1}';\nh += '.sec-title{font-size:14px;font-weight:600;color:var(--text);margin-bottom:2px}';\nh += '.sec-detail{font-size:12px;color:var(--text2);margin-bottom:4px}';\nh += '.sec-record{font-size:11px;font-family:monospace;color:var(--text3);word-break:break-all;background:var(--bg);padding:6px 10px;border-radius:4px;margin-top:6px}';\n\n// Subdomain list\nh += '.sub-grid{display:grid;grid-template-columns:repeat(auto-fill,minmax(280px,1fr));gap:6px}';\nh += '.sub-item{font-family:monospace;font-size:12px;padding:6px 12px;background:var(--card2);border:1px solid var(--border);border-radius:6px;color:var(--text);display:flex;align-items:center;justify-content:space-between;gap:8px}';\nh += '.sub-name{overflow:hidden;text-overflow:ellipsis;white-space:nowrap}';\nh += '.sub-sources{display:flex;gap:3px;flex-shrink:0}';\nh += '.src-badge{font-size:9px;font-weight:600;padding:2px 5px;border-radius:3px;font-family:system-ui,sans-serif;letter-spacing:0.3px}';\nh += '.src-crt{background:#dbeafe;color:#2563eb}';\nh += '.src-ht{background:#dcfce7;color:#16a34a}';\nh += '.src-otx{background:#ede9fe;color:#7c3aed}';\nh += '.src-url{background:#ffedd5;color:#ea580c}';\nh += '.source-summary{display:flex;flex-wrap:wrap;gap:8px;margin-bottom:14px}';\nh += '.source-card{display:flex;align-items:center;gap:8px;padding:8px 14px;background:var(--card2);border:1px solid var(--border);border-radius:8px;font-size:12px}';\nh += '.source-count{font-weight:700;font-size:14px;color:var(--text)}';\nh += '.source-label{color:var(--text2)}';\n\n// Email patterns grid\nh += '.email-grid{display:grid;grid-template-columns:repeat(auto-fill,minmax(220px,1fr));gap:6px}';\nh += '.email-item{font-family:monospace;font-size:12px;padding:8px 12px;background:var(--card2);border:1px solid var(--border);border-radius:6px;color:var(--accent)}';\n\n// Dorks\nh += '.dork-list{display:grid;gap:8px}';\nh += '.dork{display:flex;align-items:center;gap:12px;padding:12px 16px;background:var(--card2);border:1px solid var(--border);border-radius:8px;text-decoration:none;color:var(--text);transition:all 0.15s}';\nh += '.dork:hover{border-color:var(--accent);background:var(--accent-light);transform:translateX(4px)}';\nh += '.dork-icon{font-size:20px;flex-shrink:0}';\nh += '.dork-info{flex:1;min-width:0}';\nh += '.dork-name{font-size:13px;font-weight:600;color:var(--text)}';\nh += '.dork-query{font-size:11px;font-family:monospace;color:var(--text3);white-space:nowrap;overflow:hidden;text-overflow:ellipsis}';\nh += '.dork-arrow{color:var(--text3);font-size:16px}';\n\n// Footer\nh += '.footer{text-align:center;padding:32px 20px;color:var(--text3);font-size:12px;margin-top:32px}';\nh += '.footer-brand{font-size:11px;font-weight:700;text-transform:uppercase;letter-spacing:2px;color:var(--accent);margin-bottom:4px}';\nh += '.footer-sources{font-size:11px;color:var(--text3);margin-bottom:12px}';\nh += '.legal-box{background:var(--yellow-bg);border:1px solid var(--yellow-border);border-radius:8px;padding:16px 20px;margin-bottom:24px;font-size:12px;color:var(--yellow);line-height:1.5}';\nh += '.legal-box strong{color:var(--orange)}';\n\n// Executive summary\nh += '.exec-grid{display:grid;grid-template-columns:1fr 1fr;gap:20px}';\nh += '.exec-box{padding:16px;border-radius:8px;border:1px solid var(--border)}';\nh += '.exec-box h3{font-size:13px;font-weight:700;text-transform:uppercase;letter-spacing:0.8px;margin-bottom:10px;display:flex;align-items:center;gap:6px}';\nh += '.exec-findings{border-left:3px solid var(--accent)}';\nh += '.exec-recs{border-left:3px solid var(--green)}';\nh += '.exec-item{font-size:13px;color:var(--text2);padding:4px 0;display:flex;align-items:flex-start;gap:6px}';\nh += '.exec-bullet{flex-shrink:0;margin-top:5px;width:5px;height:5px;border-radius:50%}';\n\nh += '.icon-mx{background:rgba(0,180,216,0.12);color:var(--accent)}';\nh += '.mx-links{display:grid;grid-template-columns:repeat(auto-fill,minmax(220px,1fr));gap:10px}';\nh += '.mx-link{display:block;padding:14px;background:var(--card2);border:1px solid var(--border);border-radius:8px;text-decoration:none;color:var(--text);transition:all 0.2s}';\nh += '.mx-link:hover{border-color:var(--accent);background:rgba(0,180,216,0.04);transform:translateY(-2px)}';\nh += '.mx-link .mx-link-name{font-size:13px;font-weight:600;color:var(--accent);margin-bottom:4px}';\nh += '.mx-link .mx-link-desc{font-size:11px;color:var(--text2)}';\n\n// Responsive\nh += '@media(max-width:768px){.wrap{padding:16px 12px}.dns-grid,.exec-grid{grid-template-columns:1fr}.report-header{flex-direction:column;align-items:flex-start}.header-meta{align-items:flex-start}.risk-card{flex-direction:column;align-items:center;text-align:center}.kpi-grid{grid-template-columns:repeat(2,1fr)}}';\nh += '@media print{.action-bar,.btn{display:none!important}body{background:#fff}.wrap{padding:0}.section{break-inside:avoid;box-shadow:none}}';\n\nh += '</style></head><body><div class=\"wrap\">';\n\n// ============== HEADER ==============\nh += '<div class=\"report-header\">';\nh += '<div class=\"header-left\">';\nh += '<div class=\"header-brand\">CorpInt Security Intelligence</div>';\nh += '<div class=\"header-title\">' + esc(r.companyName) + ' - OSINT Report</div>';\nh += '<div class=\"header-subtitle\">Passive reconnaissance report for <strong>' + esc(r.dominio) + '</strong></div>';\nh += '</div>';\nh += '<div class=\"header-meta\">';\nh += '<div class=\"header-date\">' + fechaLegible(r.timestamp) + '</div>';\nh += '<div class=\"header-id\">REF: OSINT-' + fecha + '</div>';\nh += '</div>';\nh += '</div>';\n\n// ============== LEGAL NOTICE ==============\nh += '<div class=\"legal-box\"><strong>&#9888; Aviso Legal:</strong> Este informe fue generado exclusivamente mediante tecnicas de inteligencia de fuentes abiertas (OSINT) pasivo. No se ha realizado ninguna interaccion directa con los sistemas del objetivo. Toda la informacion recopilada es de acceso publico. Este documento es confidencial y esta destinado unicamente para uso autorizado.</div>';\n\n// ============== ACTION BAR ==============\nh += '<div class=\"action-bar\">';\nh += '<a class=\"btn\" href=\"/informes/\">&#8592; Volver a reportes</a>';\nh += '<a class=\"btn btn-primary\" id=\"dl-btn\" href=\"#\" download>&#11015; Descargar informe</a>';\nh += '</div>';\n\n// ============== RISK SCORE CARD ==============\nh += '<div class=\"risk-card\">';\nh += '<div class=\"risk-gauge-container\"><div class=\"risk-gauge\"><div class=\"risk-gauge-bg\"></div><div class=\"risk-gauge-fill\"></div><div class=\"risk-gauge-inner\"><div class=\"risk-score-num\">' + riskPct + '</div><div class=\"risk-score-label\">de 100</div></div></div></div>';\nh += '<div class=\"risk-info\">';\nh += '<span class=\"risk-level risk-' + r.nivel_riesgo + '\">' + r.nivel_riesgo + '</span>';\nh += '<div class=\"risk-factors\">';\nif (r.riskFactors && r.riskFactors.length > 0) {\n  r.riskFactors.forEach(function(f) { h += '<div class=\"risk-factor\">' + esc(f) + '</div>'; });\n} else {\n  h += '<div class=\"risk-factor\" style=\"color:var(--green)\">No se detectaron factores de riesgo significativos</div>';\n}\nh += '</div></div></div>';\n\n// ============== KPI GRID ==============\nh += '<div class=\"kpi-grid\">';\nh += '<div class=\"kpi\"><div class=\"kpi-value\">' + (r.subdomainCount || 0) + '</div><div class=\"kpi-label\">Subdominios</div></div>';\nh += '<div class=\"kpi\"><div class=\"kpi-value\">' + (r.shodan.puertos ? r.shodan.puertos.length : 0) + '</div><div class=\"kpi-label\">Puertos</div></div>';\nh += '<div class=\"kpi\"><div class=\"kpi-value\">' + (r.shodan.vulns ? r.shodan.vulns.length : 0) + '</div><div class=\"kpi-label\">Vulnerabilidades</div></div>';\nh += '<div class=\"kpi\"><div class=\"kpi-value\">' + (r.emailPatterns ? r.emailPatterns.length : 0) + '</div><div class=\"kpi-label\">Emails</div></div>';\nh += '<div class=\"kpi\"><div class=\"kpi-value\">' + (r.githubRepos ? r.githubRepos.length : 0) + '</div><div class=\"kpi-label\">Repos GitHub</div></div>';\nh += '</div>';\n\n// ============== EXECUTIVE SUMMARY ==============\nh += '<div class=\"section\"><div class=\"section-header\"><div class=\"section-icon si-blue\">&#128202;</div><h2>Resumen Ejecutivo</h2></div>';\nh += '<div class=\"section-body\"><div class=\"exec-grid\">';\nh += '<div class=\"exec-box exec-findings\"><h3><span style=\"color:var(--accent)\">&#9679;</span> Hallazgos Clave</h3>';\n(r.keyFindings || []).forEach(function(f) {\n  h += '<div class=\"exec-item\"><span class=\"exec-bullet\" style=\"background:var(--accent)\"></span>' + esc(f) + '</div>';\n});\nh += '</div>';\nh += '<div class=\"exec-box exec-recs\"><h3><span style=\"color:var(--green)\">&#9679;</span> Recomendaciones</h3>';\n(r.recommendations || []).forEach(function(rec) {\n  h += '<div class=\"exec-item\"><span class=\"exec-bullet\" style=\"background:var(--green)\"></span>' + esc(rec) + '</div>';\n});\nh += '</div>';\nh += '</div></div></div>';\n\n// ============== DOMAIN INFORMATION ==============\nh += '<div class=\"section\"><div class=\"section-header\"><div class=\"section-icon si-purple\">&#128203;</div><h2>Informacion de Dominio</h2></div>';\nh += '<div class=\"section-body\">';\n\n// WHOIS\nh += '<table class=\"info-table\">';\nh += '<tr><td>Dominio</td><td>' + esc(r.whois.nombre_dominio || r.dominio) + '</td></tr>';\nh += '<tr><td>Registrador</td><td>' + esc(r.whois.registrador || 'N/A') + '</td></tr>';\nh += '<tr><td>Fecha de creacion</td><td>' + fechaLegible(r.whois.fecha_creacion) + '</td></tr>';\nh += '<tr><td>Fecha de expiracion</td><td>' + fechaLegible(r.whois.fecha_expiracion) + '</td></tr>';\nh += '<tr><td>Estado</td><td><div class=\"tags\">' + (r.whois.estado.length > 0 ? r.whois.estado.map(function(s){return '<span class=\"tag tag-purple\">' + esc(s) + '</span>'}).join('') : '<span class=\"empty\">N/A</span>') + '</div></td></tr>';\nh += '<tr><td>Nameservers</td><td><div class=\"tags\">' + (r.whois.nameservers.length > 0 ? r.whois.nameservers.map(function(s){return '<span class=\"tag tag-blue\">' + esc(s) + '</span>'}).join('') : '<span class=\"empty\">N/A</span>') + '</div></td></tr>';\nh += '</table>';\n\n// Entities\nif (r.whois.entidades && r.whois.entidades.length > 0) {\n  h += '<div style=\"margin-top:16px;padding-top:16px;border-top:1px solid var(--border)\">';\n  h += '<div style=\"font-size:12px;font-weight:600;color:var(--text2);text-transform:uppercase;letter-spacing:1px;margin-bottom:8px\">Entidades Registrantes</div>';\n  h += '<table class=\"info-table\">';\n  r.whois.entidades.forEach(function(e) {\n    h += '<tr><td>' + esc(e.roles) + '</td><td>' + esc(e.nombre) + (e.handle ? ' <span style=\"color:var(--text3)\">(' + esc(e.handle) + ')</span>' : '') + '</td></tr>';\n  });\n  h += '</table></div>';\n}\n\n// DNS\nh += '<div style=\"margin-top:24px;padding-top:20px;border-top:1px solid var(--border)\">';\nh += '<div style=\"font-size:12px;font-weight:600;color:var(--text2);text-transform:uppercase;letter-spacing:1px;margin-bottom:12px\">Registros DNS</div>';\nh += '<div class=\"dns-grid\">';\nvar tiposDNS = ['A','AAAA','MX','NS','TXT','SOA'];\ntiposDNS.forEach(function(tipo) {\n  var regs = r.dns[tipo] || [];\n  h += '<div class=\"dns-item\"><div class=\"dns-type\">' + tipo + ' (' + regs.length + ')</div><div class=\"dns-records\">';\n  if (regs.length > 0) {\n    regs.forEach(function(v) { h += '<div>' + esc(v) + '</div>'; });\n  } else {\n    h += '<div class=\"empty\">Sin registros</div>';\n  }\n  h += '</div></div>';\n});\nh += '</div></div>';\n\n// Subdomains\nif (r.subdomains && r.subdomains.length > 0) {\n  h += '<div style=\"margin-top:24px;padding-top:20px;border-top:1px solid var(--border)\">';\n  h += '<div style=\"font-size:12px;font-weight:600;color:var(--text2);text-transform:uppercase;letter-spacing:1px;margin-bottom:12px\">Subdominios Descubiertos (' + r.subdomainCount + ')</div>';\n\n  // Source summary\n  var srcLabels = { 'crt.sh': 'crt.sh', 'hackertarget': 'HackerTarget', 'alienvault_otx': 'AlienVault OTX', 'urlscan': 'URLScan.io' };\n  var srcClasses = { 'crt.sh': 'src-crt', 'hackertarget': 'src-ht', 'alienvault_otx': 'src-otx', 'urlscan': 'src-url' };\n  if (r.sourceSummary) {\n    h += '<div class=\"source-summary\">';\n    Object.keys(r.sourceSummary).forEach(function(src) {\n      var label = srcLabels[src] || src;\n      var cls = srcClasses[src] || 'src-crt';\n      h += '<div class=\"source-card\"><span class=\"src-badge ' + cls + '\">' + esc(label) + '</span><span class=\"source-count\">' + r.sourceSummary[src] + '</span><span class=\"source-label\">encontrados</span></div>';\n    });\n    h += '</div>';\n  }\n\n  h += '<div class=\"sub-grid\">';\n  var subsToShow = r.subdomainsWithSources || r.subdomains.map(function(s) { return { name: s, sources: [] }; });\n  var maxSubs = Math.min(subsToShow.length, 80);\n  for (var si = 0; si < maxSubs; si++) {\n    var sub = subsToShow[si];\n    var subName = typeof sub === 'string' ? sub : sub.name;\n    var subSources = typeof sub === 'string' ? [] : (sub.sources || []);\n    h += '<div class=\"sub-item\"><span class=\"sub-name\">' + esc(subName) + '</span><span class=\"sub-sources\">';\n    subSources.forEach(function(src) {\n      var cls = srcClasses[src] || 'src-crt';\n      var shortLabel = { 'crt.sh': 'CRT', 'hackertarget': 'HT', 'alienvault_otx': 'OTX', 'urlscan': 'URL' };\n      h += '<span class=\"src-badge ' + cls + '\">' + (shortLabel[src] || src) + '</span>';\n    });\n    h += '</span></div>';\n  }\n  if (subsToShow.length > 80) {\n    h += '<div class=\"sub-item\" style=\"text-align:center;color:var(--text3);font-style:italic;justify-content:center\">... y ' + (subsToShow.length - 80) + ' mas</div>';\n  }\n  h += '</div></div>';\n}\n\n// Related domains\nif (r.relatedDomains && r.relatedDomains.length > 0) {\n  h += '<div style=\"margin-top:24px;padding-top:20px;border-top:1px solid var(--border)\">';\n  h += '<div style=\"font-size:12px;font-weight:600;color:var(--text2);text-transform:uppercase;letter-spacing:1px;margin-bottom:12px\">Dominios Relacionados (Shodan)</div>';\n  h += '<div class=\"tags\">';\n  r.relatedDomains.forEach(function(d) { h += '<span class=\"tag tag-green\">' + esc(d) + '</span>'; });\n  h += '</div></div>';\n}\n\nh += '</div></div>';\n\n// ============== EMAIL SECURITY ==============\nh += '<div class=\"section\"><div class=\"section-header\"><div class=\"section-icon si-green\">&#128274;</div><h2>Seguridad de Email</h2></div>';\nh += '<div class=\"section-body\">';\n\n// SPF\nvar spf = r.emailSecurity.spf;\nvar spfClass = spf.found ? (spf.record.toLowerCase().indexOf('+all') >= 0 ? 'sec-fail' : 'sec-pass') : 'sec-fail';\nh += '<div class=\"sec-check\"><div class=\"sec-status ' + spfClass + '\">' + (spf.found ? (spfClass === 'sec-pass' ? '&#10003;' : '!') : '&#10007;') + '</div>';\nh += '<div class=\"sec-info\"><div class=\"sec-title\">SPF (Sender Policy Framework)</div>';\nh += '<div class=\"sec-detail\">' + (spf.found ? esc(spf.details) : 'No se encontro registro SPF. El dominio es vulnerable a suplantacion de email.') + '</div>';\nif (spf.found && spf.record) h += '<div class=\"sec-record\">' + esc(spf.record) + '</div>';\nh += '</div></div>';\n\n// DKIM\nvar dk = r.emailSecurity.dkim;\nvar dkClass = dk.found ? 'sec-pass' : 'sec-warn';\nh += '<div class=\"sec-check\"><div class=\"sec-status ' + dkClass + '\">' + (dk.found ? '&#10003;' : '?') + '</div>';\nh += '<div class=\"sec-info\"><div class=\"sec-title\">DKIM (DomainKeys Identified Mail)</div>';\nh += '<div class=\"sec-detail\">' + (dk.found ? 'DKIM detectado en registros DNS.' : 'DKIM no detectable desde registros TXT publicos. Puede estar configurado en selectores especificos.') + '</div>';\nh += '</div></div>';\n\n// DMARC\nvar dm = r.emailSecurity.dmarc;\nvar dmClass = dm.found ? (dm.policy === 'reject' ? 'sec-pass' : (dm.policy === 'quarantine' ? 'sec-warn' : 'sec-fail')) : 'sec-fail';\nh += '<div class=\"sec-check\"><div class=\"sec-status ' + dmClass + '\">' + (dm.found ? (dmClass === 'sec-pass' ? '&#10003;' : '!') : '&#10007;') + '</div>';\nh += '<div class=\"sec-info\"><div class=\"sec-title\">DMARC (Domain-based Message Authentication)</div>';\nh += '<div class=\"sec-detail\">' + (dm.found ? esc(dm.details) : 'No se encontro registro DMARC. El dominio es altamente vulnerable a spoofing y phishing.') + '</div>';\nif (dm.found && dm.record) h += '<div class=\"sec-record\">' + esc(dm.record) + '</div>';\nh += '</div></div>';\n\nh += '</div></div>';\n\n// ============== INFRASTRUCTURE ==============\nh += '<div class=\"section\"><div class=\"section-header\"><div class=\"section-icon si-red\">&#128737;</div><h2>Infraestructura</h2></div>';\nh += '<div class=\"section-body\">';\n\n// Geolocation\nh += '<div style=\"margin-bottom:20px\"><div style=\"font-size:12px;font-weight:600;color:var(--text2);text-transform:uppercase;letter-spacing:1px;margin-bottom:10px\">Geolocalizacion IP</div>';\nh += '<table class=\"info-table\">';\nh += '<tr><td>IP</td><td>' + esc(r.geo.ip) + '</td></tr>';\nh += '<tr><td>Pais</td><td>' + esc(r.geo.country) + (r.geo.countryCode ? ' (' + esc(r.geo.countryCode) + ')' : '') + '</td></tr>';\nh += '<tr><td>Region</td><td>' + esc(r.geo.region) + '</td></tr>';\nh += '<tr><td>Ciudad</td><td>' + esc(r.geo.city) + '</td></tr>';\nh += '<tr><td>ISP</td><td>' + esc(r.geo.isp) + '</td></tr>';\nh += '<tr><td>Organizacion</td><td>' + esc(r.geo.org) + '</td></tr>';\nh += '<tr><td>ASN</td><td>' + esc(r.geo.asn) + '</td></tr>';\nh += '<tr><td>Zona horaria</td><td>' + esc(r.geo.timezone) + '</td></tr>';\nh += '</table></div>';\n\n// Ports table\nh += '<div style=\"margin-top:20px;padding-top:20px;border-top:1px solid var(--border)\">';\nh += '<div style=\"font-size:12px;font-weight:600;color:var(--text2);text-transform:uppercase;letter-spacing:1px;margin-bottom:10px\">Puertos Abiertos (' + r.shodan.puertos.length + ')</div>';\nif (r.shodan.puertos.length > 0) {\n  h += '<table class=\"data-table\"><thead><tr><th>Puerto</th><th>Servicio</th><th>Riesgo</th></tr></thead><tbody>';\n  var riskyPortList = [21,22,23,25,445,3306,3389,5432];\n  r.shodan.puertos.forEach(function(p) {\n    var portNum = typeof p === 'object' ? p.port : p;\n    var svc = typeof p === 'object' ? p.service : 'Unknown';\n    var isRisky = riskyPortList.indexOf(Number(portNum)) >= 0;\n    h += '<tr><td><span class=\"tag ' + (isRisky ? 'tag-red' : 'tag-blue') + '\">' + portNum + '</span></td>';\n    h += '<td>' + esc(svc) + '</td>';\n    h += '<td>' + (isRisky ? '<span class=\"tag tag-red\">Alto</span>' : '<span class=\"tag tag-green\">Normal</span>') + '</td></tr>';\n  });\n  h += '</tbody></table>';\n} else {\n  h += '<div class=\"empty\">No se detectaron puertos abiertos.</div>';\n}\nh += '</div>';\n\n// Vulnerabilities\nh += '<div style=\"margin-top:20px;padding-top:20px;border-top:1px solid var(--border)\">';\nh += '<div style=\"font-size:12px;font-weight:600;color:var(--text2);text-transform:uppercase;letter-spacing:1px;margin-bottom:10px\">Vulnerabilidades (' + r.shodan.vulns.length + ')</div>';\nif (r.shodan.vulns.length > 0) {\n  h += '<div class=\"tags\">';\n  r.shodan.vulns.forEach(function(v) {\n    h += '<a href=\"https://nvd.nist.gov/vuln/detail/' + esc(v) + '\" target=\"_blank\" rel=\"noopener\" style=\"text-decoration:none\"><span class=\"tag tag-red\">' + esc(v) + '</span></a>';\n  });\n  h += '</div>';\n} else {\n  h += '<div class=\"empty\">No se detectaron vulnerabilidades conocidas.</div>';\n}\nh += '</div>';\n\n// CPEs / Technologies\nif (r.shodan.cpes && r.shodan.cpes.length > 0) {\n  h += '<div style=\"margin-top:20px;padding-top:20px;border-top:1px solid var(--border)\">';\n  h += '<div style=\"font-size:12px;font-weight:600;color:var(--text2);text-transform:uppercase;letter-spacing:1px;margin-bottom:10px\">Tecnologias Detectadas (CPE)</div>';\n  h += '<div class=\"tags\">';\n  r.shodan.cpes.forEach(function(c) { h += '<span class=\"tag tag-gray\">' + esc(c) + '</span>'; });\n  h += '</div></div>';\n}\n\nh += '</div></div>';\n\n// ============== EMAIL INTELLIGENCE ==============\nh += '<div class=\"section\"><div class=\"section-header\"><div class=\"section-icon si-orange\">&#9993;</div><h2>Email Intelligence</h2><span class=\"badge\">' + (r.emailPatterns ? r.emailPatterns.length : 0) + ' patrones</span></div>';\nh += '<div class=\"section-body\">';\nh += '<div style=\"font-size:12px;color:var(--text3);margin-bottom:12px\">Patrones de email comunes generados para el dominio. Estos son formatos estandar utilizados por organizaciones.</div>';\nif (r.emailPatterns && r.emailPatterns.length > 0) {\n  h += '<div class=\"email-grid\">';\n  r.emailPatterns.forEach(function(e) { h += '<div class=\"email-item\">' + esc(e) + '</div>'; });\n  h += '</div>';\n}\nh += '</div></div>';\n\n// ============== GITHUB INTELLIGENCE ==============\nh += '<div class=\"section\"><div class=\"section-header\"><div class=\"section-icon si-blue\">&#128187;</div><h2>GitHub Intelligence</h2></div>';\nh += '<div class=\"section-body\">';\n\n// Repos\nh += '<div style=\"font-size:12px;font-weight:600;color:var(--text2);text-transform:uppercase;letter-spacing:1px;margin-bottom:10px\">Repositorios Relacionados (' + (r.githubRepos ? r.githubRepos.length : 0) + ')</div>';\nif (r.githubRepos && r.githubRepos.length > 0) {\n  h += '<table class=\"data-table\"><thead><tr><th>Repositorio</th><th>Descripcion</th><th>Lenguaje</th><th>Stars</th></tr></thead><tbody>';\n  r.githubRepos.forEach(function(repo) {\n    h += '<tr><td><a href=\"' + esc(repo.url) + '\" target=\"_blank\" rel=\"noopener\">' + esc(repo.name) + '</a></td>';\n    h += '<td style=\"max-width:300px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap\">' + esc(repo.description) + '</td>';\n    h += '<td><span class=\"tag tag-blue\">' + esc(repo.language) + '</span></td>';\n    h += '<td>' + (repo.stars || 0) + '</td></tr>';\n  });\n  h += '</tbody></table>';\n} else {\n  h += '<div class=\"empty\">No se encontraron repositorios relacionados.</div>';\n}\n\n// Orgs\nh += '<div style=\"margin-top:20px;padding-top:20px;border-top:1px solid var(--border)\">';\nh += '<div style=\"font-size:12px;font-weight:600;color:var(--text2);text-transform:uppercase;letter-spacing:1px;margin-bottom:10px\">Organizaciones (' + (r.githubOrgs ? r.githubOrgs.length : 0) + ')</div>';\nif (r.githubOrgs && r.githubOrgs.length > 0) {\n  h += '<table class=\"data-table\"><thead><tr><th>Login</th><th>Tipo</th><th>Perfil</th></tr></thead><tbody>';\n  r.githubOrgs.forEach(function(org) {\n    h += '<tr><td><strong>' + esc(org.login) + '</strong></td>';\n    h += '<td><span class=\"tag tag-purple\">' + esc(org.type) + '</span></td>';\n    h += '<td><a href=\"' + esc(org.url) + '\" target=\"_blank\" rel=\"noopener\">Ver perfil</a></td></tr>';\n  });\n  h += '</tbody></table>';\n} else {\n  h += '<div class=\"empty\">No se encontraron organizaciones relacionadas.</div>';\n}\nh += '</div>';\n\nh += '</div></div>';\n\n// ============== GOOGLE DORKS ==============\n\n// === MXToolbox & Blacklist Section ===\nif (r.mxRecords && r.blacklist) {\nh += '<div class=\"section\"><div class=\"section-header\"><div class=\"section-icon si-blue\">&#128233;</div><h2>MXToolbox & Blacklist Analysis</h2></div>';\nh += '<div class=\"section-body\">';\n\nh += '<div style=\"font-size:13px;font-weight:600;color:var(--accent);margin-bottom:12px\">Mail Configuration</div>';\nh += '<div class=\"data-grid\">';\nh += '<div class=\"data-item\"><div class=\"di-label\">Mail Provider</div><div class=\"di-value\">' + esc(r.mxRecords.provider) + '</div></div>';\nh += '<div class=\"data-item\"><div class=\"di-label\">MX Records</div><div class=\"di-value\">' + r.mxRecords.records.length + '</div></div>';\nh += '</div>';\n\nif (r.mxRecords.records.length > 0) {\n  h += '<table style=\"width:100%;border-collapse:collapse;margin-top:16px\">';\n  h += '<thead><tr><th style=\"width:80px;background:var(--card2);color:var(--accent);font-size:11px;text-transform:uppercase;padding:10px 12px;text-align:left;border-bottom:1px solid var(--border)\">Priority</th><th style=\"background:var(--card2);color:var(--accent);font-size:11px;text-transform:uppercase;padding:10px 12px;text-align:left;border-bottom:1px solid var(--border)\">Server</th></tr></thead><tbody>';\n  r.mxRecords.records.forEach(function(mx) {\n    h += '<tr><td style=\"padding:10px 12px;border-bottom:1px solid var(--border)\"><span class=\"tag tag-blue\">' + mx.priority + '</span></td><td style=\"padding:10px 12px;border-bottom:1px solid var(--border);font-family:monospace;font-size:13px\">' + esc(mx.server) + '</td></tr>';\n  });\n  h += '</tbody></table>';\n}\n\nvar blClean = r.blacklist.listedCount === 0;\nh += '<div style=\"font-size:13px;font-weight:600;color:var(--accent);margin:24px 0 12px\">Blacklist Check (' + r.blacklist.totalChecked + ' lists)</div>';\nh += '<div style=\"margin:12px 0;padding:14px 18px;border-radius:8px;font-size:13px;' + (blClean ? 'background:rgba(46,160,67,0.08);border:1px solid rgba(46,160,67,0.2);color:#2ea043' : 'background:rgba(248,81,73,0.08);border:1px solid rgba(248,81,73,0.2);color:#f85149') + '\">';\nh += blClean ? '&#9989; IP not found on any blacklist (' + r.blacklist.totalChecked + '/' + r.blacklist.totalChecked + ' clean)' : '&#9888; Listed on ' + r.blacklist.listedCount + ' of ' + r.blacklist.totalChecked + ' blacklists';\nh += '</div>';\n\nh += '<table style=\"width:100%;border-collapse:collapse\"><thead><tr><th style=\"background:var(--card2);color:var(--accent);font-size:11px;text-transform:uppercase;padding:10px 12px;text-align:left;border-bottom:1px solid var(--border)\">Blacklist</th><th style=\"width:100px;background:var(--card2);color:var(--accent);font-size:11px;text-transform:uppercase;padding:10px 12px;text-align:left;border-bottom:1px solid var(--border)\">Status</th></tr></thead><tbody>';\nr.blacklist.results.forEach(function(bl) {\n  h += '<tr><td style=\"padding:10px 12px;border-bottom:1px solid var(--border)\">' + esc(bl.name) + ' <span style=\"color:var(--text2);font-size:11px\">(' + esc(bl.host) + ')</span></td>';\n  h += '<td style=\"padding:10px 12px;border-bottom:1px solid var(--border)\"><span class=\"tag ' + (bl.listed ? 'tag-red' : 'tag-green') + '\">' + (bl.listed ? 'LISTED' : 'CLEAN') + '</span></td></tr>';\n});\nh += '</tbody></table>';\n\nh += '<div style=\"font-size:13px;font-weight:600;color:var(--accent);margin:24px 0 12px\">MXToolbox Quick Links</div>';\nh += '<div style=\"font-size:12px;color:var(--text2);margin-bottom:12px\">Click to run detailed checks on MXToolbox.com</div>';\nh += '<div style=\"display:grid;grid-template-columns:repeat(auto-fill,minmax(220px,1fr));gap:10px\">';\nr.mxLinks.forEach(function(link) {\n  h += '<a style=\"display:block;padding:14px;background:var(--card2);border:1px solid var(--border);border-radius:8px;text-decoration:none;color:var(--text);transition:all 0.2s\" href=\"' + link.url + '\" target=\"_blank\" rel=\"noopener\">';\n  h += '<div style=\"font-size:13px;font-weight:600;color:var(--accent);margin-bottom:4px\">' + esc(link.name) + '</div>';\n  h += '<div style=\"font-size:11px;color:var(--text2)\">' + esc(link.desc) + '</div>';\n  h += '</a>';\n});\nh += '</div>';\n\nh += '</div></div>';\n}\n\nh += '<div class=\"section\"><div class=\"section-header\"><div class=\"section-icon si-yellow\">&#128269;</div><h2>Google Dorks</h2></div>';\nh += '<div class=\"section-body\">';\nh += '<div style=\"font-size:12px;color:var(--text3);margin-bottom:12px\">Enlaces a busquedas avanzadas de Google. Solo muestran informacion publica indexada por el buscador.</div>';\nh += '<div class=\"dork-list\">';\n(r.dorks || []).forEach(function(d) {\n  var url = 'https://www.google.com/search?q=' + encodeURIComponent(d.query);\n  h += '<a class=\"dork\" href=\"' + url + '\" target=\"_blank\" rel=\"noopener\">';\n  h += '<span class=\"dork-icon\">' + d.icono + '</span>';\n  h += '<div class=\"dork-info\"><div class=\"dork-name\">' + esc(d.nombre) + '</div><div class=\"dork-query\">' + esc(d.query) + '</div></div>';\n  h += '<span class=\"dork-arrow\">&#8594;</span></a>';\n});\nh += '</div></div></div>';\n\n// ============== FOOTER ==============\nh += '<div class=\"footer\">';\nh += '<div class=\"footer-brand\">CorpInt Security Intelligence</div>';\nh += '<div class=\"footer-sources\">Fuentes: Shodan InternetDB &middot; Google DNS (DoH) &middot; RDAP/WHOIS &middot; crt.sh &middot; GitHub API &middot; ip-api.com &middot; Google Dorks</div>';\nh += '<p>OSINT 100% Pasivo &middot; Sin interaccion directa con el objetivo</p>';\nh += '<p style=\"margin-top:8px\">Este informe es generado automaticamente y no constituye asesoramiento legal o de seguridad profesional.</p>';\nh += '<p style=\"margin-top:4px\">La informacion contenida puede estar desactualizada o ser inexacta. Verifique los hallazgos de manera independiente.</p>';\nh += '<p style=\"margin-top:8px;font-size:11px;color:var(--text3)\">Generado por n8n Automation &middot; ' + fechaLegible(r.timestamp) + '</p>';\nh += '</div>';\n\nh += '</div>'; // end .wrap\n\n// Download script\nvar domainSlug = r.dominio.replace(/\\./g, '-');\nvar now = new Date();\nvar ts = now.getFullYear() + '-' + String(now.getMonth()+1).padStart(2,'0') + '-' + String(now.getDate()).padStart(2,'0') + '_' + String(now.getHours()).padStart(2,'0') + '-' + String(now.getMinutes()).padStart(2,'0') + '-' + String(now.getSeconds()).padStart(2,'0');\nvar fileName = domainSlug + '__' + ts + '.html';\nh += '<script>(function(){var b=document.getElementById(\"dl-btn\");if(b){b.href=window.location.href;b.download=\"' + fileName + '\";}})();<\\/script>';\nh += '</body></html>';\n\nvar fs = require('fs');\nfs.writeFileSync('/home/node/.n8n/informes/' + fileName, h);\nreturn [{ json: { mensaje: 'Informe guardado exitosamente', archivo: fileName, path: '/home/node/.n8n/informes/' + fileName } }];\n"
                },
                "id": "a1b2c3d4-0015-4000-a000-000000000015",
                "name": "Guardar Informe HTML",
                "type": "n8n-nodes-base.code",
                "typeVersion": 2,
                "position": [
                    1248,
                    304
                ]
            },
            {
                "parameters": {
                    "jsCode": "\nvar dnsData = $('DNS Completo').first().json;\nvar domain = dnsData.target_domain;\nvar ip = dnsData.target_ip;\nvar dns = dnsData.dns;\n\n// Reverse IP for DNSBL queries\nvar parts = ip.split('.');\nvar reversed = parts[3] + '.' + parts[2] + '.' + parts[1] + '.' + parts[0];\n\n// DNS Blacklists to check\nvar blacklists = [\n  { name: 'Spamhaus ZEN', host: 'zen.spamhaus.org' },\n  { name: 'SpamCop', host: 'bl.spamcop.net' },\n  { name: 'Barracuda', host: 'b.barracudacentral.org' },\n  { name: 'SORBS', host: 'dnsbl.sorbs.net' },\n  { name: 'UCEPROTECT L1', host: 'dnsbl-1.uceprotect.net' },\n  { name: 'Composite BL', host: 'cbl.abuseat.org' },\n  { name: 'SpamRATS', host: 'noptr.spamrats.com' },\n  { name: 'PSBL', host: 'psbl.surriel.com' }\n];\n\nfunction dnsCheck(query) {\n  return new Promise(function(resolve) {\n    var https = require('https');\n    var url = 'https://dns.google/resolve?name=' + encodeURIComponent(query) + '&type=A';\n    https.get(url, { timeout: 5000 }, function(res) {\n      var body = '';\n      res.on('data', function(c) { body += c; });\n      res.on('end', function() {\n        try {\n          var data = JSON.parse(body);\n          resolve(data.Answer && data.Answer.length > 0);\n        } catch(e) { resolve(false); }\n      });\n    }).on('error', function() { resolve(false); })\n      .on('timeout', function() { resolve(false); });\n  });\n}\n\nvar results = [];\nfor (var i = 0; i < blacklists.length; i++) {\n  var bl = blacklists[i];\n  var query = reversed + '.' + bl.host;\n  var listed = await dnsCheck(query);\n  results.push({ name: bl.name, host: bl.host, listed: listed });\n}\n\nvar listedCount = results.filter(function(r) { return r.listed; }).length;\n\n// Parse MX records for mail info\nvar mxRecords = (dns.MX || []).map(function(mx) {\n  var parts = mx.split(' ');\n  return { priority: parseInt(parts[0]) || 0, server: (parts[1] || mx).replace(/\\.$/, '') };\n}).sort(function(a, b) { return a.priority - b.priority; });\n\n// Detect mail provider from MX\nvar mailProvider = 'Unknown';\nvar mxStr = mxRecords.map(function(m) { return m.server; }).join(' ').toLowerCase();\nif (mxStr.indexOf('google') !== -1 || mxStr.indexOf('gmail') !== -1) mailProvider = 'Google Workspace';\nelse if (mxStr.indexOf('outlook') !== -1 || mxStr.indexOf('microsoft') !== -1) mailProvider = 'Microsoft 365';\nelse if (mxStr.indexOf('protonmail') !== -1) mailProvider = 'ProtonMail';\nelse if (mxStr.indexOf('zoho') !== -1) mailProvider = 'Zoho Mail';\nelse if (mxStr.indexOf('mimecast') !== -1) mailProvider = 'Mimecast';\nelse if (mxStr.indexOf('barracuda') !== -1) mailProvider = 'Barracuda';\nelse if (mxStr.indexOf('pphosted') !== -1) mailProvider = 'Proofpoint';\nelse if (mxRecords.length > 0) mailProvider = mxRecords[0].server;\n\n// MXToolbox links\nvar mxLinks = [\n  { name: 'MX Lookup', url: 'https://mxtoolbox.com/SuperTool.aspx?action=mx%3a' + domain, desc: 'Verifica registros MX y configuracion de correo' },\n  { name: 'Blacklist Check', url: 'https://mxtoolbox.com/SuperTool.aspx?action=blacklist%3a' + domain, desc: 'Comprueba si el dominio esta en listas negras' },\n  { name: 'SPF Check', url: 'https://mxtoolbox.com/SuperTool.aspx?action=spf%3a' + domain, desc: 'Valida la configuracion SPF' },\n  { name: 'DMARC Check', url: 'https://mxtoolbox.com/SuperTool.aspx?action=dmarc%3a' + domain, desc: 'Verifica politica DMARC' },\n  { name: 'DKIM Check', url: 'https://mxtoolbox.com/SuperTool.aspx?action=dkim%3a' + domain, desc: 'Comprueba registros DKIM' },\n  { name: 'DNS Check', url: 'https://mxtoolbox.com/SuperTool.aspx?action=dns%3a' + domain, desc: 'Analisis completo de DNS' },\n  { name: 'SMTP Test', url: 'https://mxtoolbox.com/SuperTool.aspx?action=smtp%3a' + domain, desc: 'Prueba conectividad SMTP' },\n  { name: 'HTTP Headers', url: 'https://mxtoolbox.com/SuperTool.aspx?action=header%3a' + domain, desc: 'Analiza cabeceras HTTP de seguridad' }\n];\n\nreturn [{\n  json: {\n    blacklist: { results: results, listedCount: listedCount, totalChecked: blacklists.length },\n    mx: { records: mxRecords, provider: mailProvider },\n    mxLinks: mxLinks\n  }\n}];\n"
                },
                "id": "a1b2c3d4-0020-4000-a000-000000000020",
                "name": "MXToolbox Check",
                "type": "n8n-nodes-base.code",
                "typeVersion": 2,
                "position": [
                    928,
                    304
                ]
            }
        ],
        "connections": {
            "Inicio Manual": {
                "main": [
                    [
                        {
                            "node": "Definir Objetivos",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "Webhook Scan": {
                "main": [
                    [
                        {
                            "node": "Definir Objetivos",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "Definir Objetivos": {
                "main": [
                    [
                        {
                            "node": "DNS Completo",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "DNS Completo": {
                "main": [
                    [
                        {
                            "node": "Shodan InternetDB",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "Shodan InternetDB": {
                "main": [
                    [
                        {
                            "node": "RDAP WHOIS",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "RDAP WHOIS": {
                "main": [
                    [
                        {
                            "node": "Subdominios Multi-Fuente",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "GitHub OSINT": {
                "main": [
                    [
                        {
                            "node": "IP Geolocation",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "IP Geolocation": {
                "main": [
                    [
                        {
                            "node": "MXToolbox Check",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "Generar Informe OSINT": {
                "main": [
                    [
                        {
                            "node": "Guardar Informe HTML",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "MXToolbox Check": {
                "main": [
                    [
                        {
                            "node": "Generar Informe OSINT",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "Subdominios Multi-Fuente": {
                "main": [
                    [
                        {
                            "node": "GitHub OSINT",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            }
        },
        "authors": "Claude",
        "name": null,
        "description": null,
        "autosaved": false,
        "workflowPublishHistory": [
            {
                "createdAt": "2026-04-16T08:25:04.000Z",
                "id": 17,
                "workflowId": "1001",
                "versionId": "cccccccc-dddd-eeee-ffff-019d954dd479",
                "event": "activated",
                "userId": "de36a39a-6e8e-4896-9d0f-8784c8ea7aa7"
            },
            {
                "createdAt": "2026-04-16T08:26:01.562Z",
                "id": 18,
                "workflowId": "1001",
                "versionId": "cccccccc-dddd-eeee-ffff-019d954dd479",
                "event": "activated",
                "userId": "de36a39a-6e8e-4896-9d0f-8784c8ea7aa7"
            }
        ]
    }
}
